@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-featured-product {
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary &,
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        ul.products li.product {
            .woocommerce-loop-product__link {
                @include hover {
                    .woocommerce-loop-product__title, .price {
                        color: currentColor;
                    }
                }
            }
        }
    }
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
        ul.products li.product {
            .button {
                border-color: $color1;
            }
        }
    }
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary & {
        ul.products li.product {
            .onsale {
                background-color: $color4;
            }
            .button {
                @include hover {
                    background-color: $color4;
                }
            }
        }
    }
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
        ul.products li.product {
            .onsale {
                background-color: $color3;
            }
            .button {
                background-color: $color4;
                @include hover {
                    background-color: $color3;
                }
            }
        }
    }
    .related.products {
        ul.products {
            padding-top: 0;
            padding-bottom: 0;
            .illus-wrapper .attachment-woocommerce_thumbnail {
                width: 100%;
            }
        }
    }
    .btn-wrapper {
        margin-top: rem(60px);
        text-align: center;
    }
}





/* MEDIA QUERIES
---------------------------------------- */
