@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-images-slider {
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
    .slider-pagination .swiper-pagination-bullet {
            opacity: .4;
            background-color: $color1;
            &-active {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        .slider-pagination .swiper-pagination-bullet {
            opacity: .4;
            background-color: $color-default;
            &-active {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    &.full-width {
        .container-1 {
            padding-right: 0;
            padding-left: 0;
        }
        .item::before {
            padding-top: calc(100vh - rem($header-height));
            // #header.background-transparent + .main-page & {
            //     padding-top: 100vh;
            // }
        }
        .desc {
            padding-bottom: 6%;
        }
        .slider-pagination {
            top: auto;
            bottom: 0;
            padding-bottom: 2.72%;
            .swiper-pagination-bullet {
                background-color: $color1;
            }
        }
        .slider-navigation {
            &::before {
                border-color: $color1;
            }
            &.prev {
                left: rem(8px);
            }
            &.next {
                right: rem(8px);
            }
        }
    }
    &:not(.full-width) {
        .border-rounded & .slider  {
            border-radius: $border-radius-default;
        }
        .container-2 {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .item {
        position: relative;
        max-height: 100vh;
        @include flex(flex-start, flex-end);
        @include fake-flex-col(45.99%);
        color: $color1;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            z-index: 5;
            background: linear-gradient(0deg, rgba($color2, .5) 50%, rgba($color1, 0) 100%);
            content: '';
        }
        &.no-desc::after {
            display: none;
        }
    }
    .illus-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .illus {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .desc {
        position: relative;
        width: 100%;
        padding: 0 calc((50% - rem(13px)) * .0694) 3.17%;
        z-index: 10;
        text-shadow: 0 0 rem(20px) rgba($color2, .5);
    }
    .title {
        margin: 0;
        max-width: rem(726px);
        text-align: inherit;
        color: $color1;
    }
    .txt {
        max-width: rem(726px);
        margin-top: rem(18px);
    }
    .slider-navigation {
        &.prev {
            left: calc(-#{$container-padding} + #{rem(8px)});
        }
        &.next {
            right: calc(-#{$container-padding} + #{rem(8px)});
        }
    }
    .slider-pagination {
        top: calc(100% + rem(30px));
        bottom: auto;
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 1470px) {
    .module-images-slider:not(.full-width) .slider-navigation {
        &::before {
            border-color: $color1;
        }
        &.prev {
            left: 2rem;
        }
        &.next {
            right: 2rem;
        }
    }
}



@media only screen and (max-width: 960px) {
    .module-images-slider {
        .module-columns.has-background-primary:not(.cols_have_background) &,
        &.has-background-primary:not(.cols_have_background), 
        .cols-background-primary &,
        .module-columns.has-background-secondary:not(.cols_have_background) &,
        &.has-background-secondary:not(.cols_have_background), 
        .cols-background-secondary & {
            .item {
                color: $color1;
            }
        }
        &.full-width {
            .slider-navigation {
                top: 50vh;
            }
            .slider-pagination {
                top: 98vh;
                bottom: auto;
                padding-bottom: 0;
                transform: translateY(-100%);
            }
        }
        &:not(.full-width) {
            .border-rounded & {
                .slider {
                    border-radius: 0;
                }
                .illus  {
                    border-radius: $border-radius-default;
                }
            }
            .container-1 {
                max-width: 100%;
                padding-right: 0;
                padding-left: 0;
            }
            .item {
                padding-right: $container-padding;
                padding-left: $container-padding;
            }
            .slider-navigation {
                &.prev {
                    left: calc(.5rem + #{$container-padding});
                }
                &.next {
                    right: calc(.5rem + #{$container-padding});
                }
            }
        }
        .item {
            display: block;
            max-height: initial;
            color: $color-default;
            &::before, &::after {
                display: none;
            }
        }
        .swiper-wrapper {
            height: auto;
        }
        .illus-wrapper {
            position: relative;
            @include square(45.99%);
        }
        .desc {
            margin-top: 1.125rem;
            padding-right: 0;
            padding-left: 0;
            text-shadow: none;
        }
        .slider-navigation {
            top: calc((100vw - #{$container-padding} * 2) * .459 / 2);
        }
        .slider-pagination {
            top: calc((100vw - #{$container-padding} * 2) * .459 - 1.25rem);
            bottom: auto;
            transform: translateY(-100%);
            .swiper-pagination-bullet {
                background-color: $color1;
            }
        }
    }
}
