@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-key-figures {
    text-align: center;
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary &,
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        .link {
            @include hover {
                .nbr-wrapper, .title {
                    color: inherit;
                    text-decoration: underline;
                }
            }
        }
    }
    .list {
        @include flex(center, stretch, wrap, 6, rem(40px));
        row-gap: rem(40px);
    }
    .link {
        display: block;
        &:not(:active) {
            .nbr-wrapper, .title {
                transition: $transition-default;
            }
        }
        @include hover {
            .nbr-wrapper, .title {
                color: $color3;
            }
        }
    }
    .nbr-wrapper {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: flex-start;
        font-family: $font2;
        font-size: rem(62px);
        line-height: 1;
        font-weight: 600;
    }
    .suffix {
        position: absolute;
        top: rem(10px);
        left: calc(100% + #{rem(5px)});
        font-size: .25em;
        line-height: 1;
        text-transform: uppercase;
    }
    .illus-wrapper {
        margin-bottom: rem(12px);
    }
    .desc {
        margin-top: rem(12px);
    }
    .title {
        font-family: $font2;
        font-size: rem(24px);
        line-height: 1;
        font-weight: 600;
        letter-spacing: $letter-spacing-default;
        text-transform: uppercase;
    }
    .txt {
        max-width: rem(191px);
        margin: rem(5px) auto 0;
        font-size: rem(16px);
    }
    .illus {
        height: rem(112px);
        object-fit: contain;
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 1200px) {
    .module-key-figures .nbr-wrapper {
        font-size: 3.9rem;
    }
}



@media only screen and (max-width: 960px) {
    .module-key-figures {
        .item {
            flex-basis: calc(100% / 3 - 2.5rem);
        }
        .txt {
            max-width: 100%;
        }
    }
}



@media only screen and (max-width: 600px) {
    .module-key-figures .item {
        flex-basis: calc(100% / 2 - 2.5rem);
    }
}
