@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-quote {
    text-align: center;
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
        .txt {
            color: $color1;
        }
    }
    .txt {
        color: $color3;
    }
    .author {
        margin-top: rem(34px);
        font-size: rem(14px);
        line-height: $line-height-default;
    }
    .illus-wrapper {
        max-width: rem(106px);
        margin: 0 auto rem(16px);
    }
    .illus {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
    }
    .name {
        font-weight: 600;
    }
}
