@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-references {
    
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
        .list {
            .item {
                @include hover {
                    .title {
                        color: $color1;
                    }
                    .category {
                        color: $color1;
                    }
                }
                .category, .name {
                    color: $color1;
                }
            }
            .slider-navigation::before {
                border-color: $color1;
            }
        }
        .popin {
            .title, .txt {
                color: $color-default;
            }
        }
        .btn-more-wrapper .btn {
            color: $color1;
        }        
    }
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
        .list .illus-wrapper::after {
            background-color: $color4;
        }
    }
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        .list {
            .item {
                @include hover {
                    .title {
                        color: inherit;
                    }
                }
                .illus-wrapper::after {
                    background-color: $color-default;
                }
            }
        }
    }
    .list {
        @include flex(flex-start, flex-start, wrap, 3, rem(26px));
        row-gap: rem(48px);
        .item {
            max-width: calc(100% / 3 - #{rem(26px)});
            transition: none;
            &:not(:active) {
                .category, .title {
                    transition: $transition-default;
                }
            }
            &:hover .overlay {
                opacity: 1;
                transform: translateY(0);
            }
            @include hover {
                .illus-wrapper::after {
                    opacity: .5;
                }
                .category {
                    color: $color-default;
                }
                .title {
                    color: $color3;
                }
            }
        }
        .slider-wrapper {
            overflow: hidden;
            background-color: rgba($color1, .1);
            .border-rounded & {
                border-radius: $border-radius-default;
            }
        }
        .slider {
            &:hover .slider-navigation {
                opacity: 1;
                &.prev, &.next {
                    transform: translateY(-50%);
                }
            }
        }
        .slider-navigation {
            padding: rem(32px);
            opacity: 0;
            &::before {
                border-color: $color1;
            }
            &.prev {
                transform: translate(.5rem, -50%);
            }
            &.next {
                transform: translate(-.5rem, -50%);
            }
        }
        .slider-pagination {
            bottom: rem(21px);
            .swiper-pagination-bullet {
                background-color: $color1;
            }
        }
        .illus-wrapper {
            display: block;
            width: 100%;
            border: 0;
            @include square(74.78%);
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: $color3;
                content: ''
            }
        }
        .illus {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .overlay {
            position: absolute;
            top: rem(28px);
            right: rem(28px);
            opacity: 0;
            z-index: 5;
            text-align: center;
            font-size: rem(15px);
            line-height: 1;
            font-weight: 700;
            letter-spacing: $letter-spacing-default;
            color: $color1;
            transform: translateY(rem(-10px));
            transition: $transition-default;
            .icon {
                display: block;
                margin-bottom: rem(5px);
            }
            svg {
                margin: 0 auto;
                * {
                    fill: $color1;
                }
            }
        }
        .link {
            display: block;
            width: 100%;
            padding-top: rem(14px);
            border: 0;
        }
        .category {
            margin-bottom: rem(2px);
            font-size: rem(14px);
            line-height: $line-height-default;
            letter-spacing: $letter-spacing-default;
            color: $color3;
            text-transform: uppercase;
        }
        .title {
            display: inline;
            margin: 0;
            text-align: inherit;
        }
        .name {
            margin-top: rem(12px);
            font-size: rem(20px);
            line-height: $line-height-default;
            letter-spacing: $letter-spacing-default;
            color: $color5;
        }
    }
    .btn-more-wrapper {
        margin-top: rem(60px);
        text-align: center;
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 1024px) {
    .module-references .list {
        .item {
            max-width: calc(100% / 2 - #{rem(26px)});
            flex-basis: calc(100% / 2 - #{rem(26px)});
        }
        .slider-navigation {
            padding: 1.3rem;
            opacity: 1;
            &.prev, &.next {
                transform: translateY(-50%);
            }
        }
    }
}



@media only screen and (max-width: 600px) {
    .module-references .list .item {
        max-width: calc(100% - #{rem(26px)});
        flex-basis: 100%;
    }
}
