@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-review.module {
    .ti-widget .ti-widget-container {
        margin-bottom: 0;
    }
    .ti-widget .ti-controls .ti-next, .ti-widget .ti-controls .ti-prev {
        &::before, &::after {
            border-color: $color3;
        }
    }
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
        .ti-widget {
            .ti-controls .ti-next, .ti-controls .ti-prev {
                &::before, &::after {
                    border-color: $color1!important;
                }
            }
            .ti-profile-details > *, .ti-read-more-active, .ti-review-content, .ti-rating, .ti-rating-text > *, .ti-rating-text strong {
                color: $color1!important;
                opacity: 1;
            }


        }
    }
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        .ti-widget .ti-controls .ti-next, .ti-widget .ti-controls .ti-prev {
            &::before, &::after {
                border-color: $color4;
            }
        }
    }
}


