/**
 * GENERAL
 * CONTAINER
 * MAIN CONTENT
 * ADMIN BAR
 * MEDIA QUERIES
 */
/* GENERAL
---------------------------------------- */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: var(--font-general), arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-default, #224f5a);
}
html.disable-scroll {
  overflow: hidden;
}
html.disable-scroll #header .header-wrapper, html.disable-scroll #wrapper {
  overflow-y: scroll;
}
html.disable-scroll #header .container-large {
  overflow: hidden;
}

body {
  background: var(--color-background, #fff);
  --scrollbar-width: calc(100vw - 100%);
}
body .grecaptcha-badge {
  visibility: visible !important;
  display: block !important;
}

/* Image */
img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: visible !important;
}

/* Link */
#wrapper a, #wrapper a:focus, #wrapper a:hover, #wrapper a:active, #wrapper a:visited, #wrapper button, #wrapper button:focus, #wrapper button:hover, #wrapper button:active, #wrapper button:visited, #wrapper input, #wrapper input:focus, #wrapper input:hover, #wrapper input:active, #wrapper input:visited, #wrapper select, #wrapper select:focus, #wrapper select:hover, #wrapper select:active, #wrapper select:visited, #wrapper textarea, #wrapper textarea:focus, #wrapper textarea:hover, #wrapper textarea:active, #wrapper textarea:visited {
  outline: 0;
  text-decoration: none !important;
}
a:not(:active), a:not(:active)::before, a:not(:active)::after, a:not(:active) svg *, button:not(:active), button:not(:active)::before, button:not(:active)::after, button:not(:active) svg *, input[type=submit]:not(:active), input[type=submit]:not(:active)::before, input[type=submit]:not(:active)::after, input[type=submit]:not(:active) svg *, .btn:not(:active), .btn:not(:active)::before, .btn:not(:active)::after, .btn:not(:active) svg * {
  transition: all 0.3s ease;
}

/* Accessibility */
.screen-reader-text {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

/* Loader
---------------------------------------- */
.loader img {
  animation: 1.5s fadeInUp;
}
.loader.disable {
  display: none !important;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* CONTAINERS
---------------------------------------- */
.container, .container-large, #header, #footer, #cookie-banner {
  position: relative;
}

.container {
  width: 100%;
  max-width: calc(5vw * 2 + 1430px);
  margin-right: auto;
  margin-left: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

.container-large {
  width: 100%;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

/* Header container */
#header {
  z-index: 20;
}

/* Search */
#search-form {
  z-index: 25;
}

/* Footer container */
#footer {
  z-index: 5;
}

/* Popin */
.popin-wrapper {
  z-index: 30;
}

.sub-header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}
.sub-header .module {
  padding-top: 0;
  padding-bottom: 0;
}
.sub-header .module.padding-top-small, .sub-header .module.padding-bottom-small {
  padding-top: 0;
  padding-bottom: 0;
}
.sub-header .module .container {
  padding-left: 0;
  padding-right: 0;
}
.sub-header .module-share .cols-wrapper {
  border-top: unset;
  padding-top: 0;
}

.archive .sub-header {
  padding-top: 0;
}
.archive .sub-header.container {
  margin-left: unset;
  margin-right: unset;
  max-width: 120rem;
}

/* MAIN CONTENT
---------------------------------------- */
#main {
  opacity: 1;
  overflow: hidden;
}

.title-section-1 {
  font-family: var(--font-title), arial, sans-serif;
  font-size: 5rem;
  line-height: 1.05;
  letter-spacing: -0.04em;
  font-weight: 700;
}
.mode-uppercase .title-section-1 {
  text-transform: uppercase;
  font-size: 4.25rem;
}

.title-section-2 {
  font-family: var(--font-title), arial, sans-serif;
  font-size: 2.625rem;
  line-height: 1;
  letter-spacing: -0.04em;
  font-weight: 600;
}
.mode-uppercase .title-section-2 {
  text-transform: uppercase;
  font-size: 2.8125rem;
}

.title-section-3 {
  margin-bottom: 3.375rem;
  font-family: var(--font-title), arial, sans-serif;
  text-align: center;
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -0.04em;
}
.mode-uppercase .title-section-3 {
  text-transform: uppercase;
  font-size: 2.375rem;
}

.title-section-4 {
  margin-bottom: 3.375rem;
  font-family: var(--font-title), arial, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 600;
  color: var(--color-tertiary, #d6d6d6);
}
.mode-uppercase .title-section-4 {
  text-transform: uppercase;
  font-size: 1.1875rem;
}

.btn-scroll {
  position: relative;
  padding: 0.3125rem 0.625rem;
  z-index: 5;
  border: 0;
  font-size: 0.9375rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.04em;
}
.btn-scroll::before, .btn-scroll::after {
  position: relative;
  top: 0;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.125rem auto;
  border: 2px solid var(--color-primary, #3ee98d);
  content: "";
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.btn-scroll::before {
  margin-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.btn-scroll::after {
  margin-bottom: 0;
  border-top: 0;
  border-left: 0;
}
.btn-scroll:hover:not(:active)::before, .btn-scroll:hover:not(:active)::after, .btn-scroll:focus:not(:active)::before, .btn-scroll:focus:not(:active)::after {
  border-color: var(--color-secondary, #02bd9c);
}
.btn-scroll:hover::before {
  top: -0.3125rem;
}
.btn-scroll:hover::after {
  top: 0.3125rem;
}
.btn-scroll-up {
  padding-top: 1.6875rem;
}
.btn-scroll-up::after {
  display: none;
}
.btn-scroll-down {
  padding-bottom: 1.6875rem;
}
.btn-scroll-down::before {
  display: none;
}

.d-none {
  display: none !important;
}

/* Acymailing
--------------------------------------- */
#acym__callout__container {
  right: 0.875rem;
}
#acym__callout__container .acym_callout_close {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transform: translateY(-20%);
}
#acym__callout__container .acym__callout__front__info {
  color: #fff;
  font-weight: 700;
  background-color: var(--color-primary, #3ee98d);
  border-radius: 0;
  box-shadow: unset;
}
.border-rounded #acym__callout__container .acym__callout__front__info {
  border-radius: 3rem;
}

/* ADMIN BAR
---------------------------------------- */
#wpadminbar {
  overflow-x: hidden;
}

/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .title-section-1 {
    font-size: 4.5rem;
  }
  .sub-header {
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 960px) {
  .title-section-1 {
    font-size: 4rem;
  }
  .title-section-3 {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 600px) {
  .title-section-1 {
    font-size: 3rem;
  }
  .mode-uppercase .title-section-1 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  .title-section-2 {
    font-size: 2.75rem;
  }
  .title-section-3 {
    font-size: 2rem;
  }
  #wpadminbar {
    position: fixed;
  }
}
