/* Fond */
body {
  background-size: cover;
  background-position: center;
  font-family: var(--font-general);
  color: var(--color-default);
}


#login {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0;
  align-items: center;
}


#login h1 {
  grid-column: 6/8;
  grid-row: 4/7;
  justify-content: center;
}


#login .message,
#login_error {
  grid-column: 9/12;
  grid-row: 2/3;
  width: calc(100% - 24px);
  top: 25px;
  max-width: calc(5vw * 2 + 1240px);
  margin-right: auto;
  margin-left: auto;
  transform: translateX(-4px);
}


.language-switcher {
  visibility: hidden !important;
  display: none !important;
}


.bg_login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}
.bg_login::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}


#login form {
  grid-column: 9/12;
  grid-row: 3/8;
  border: unset;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.5);
  border-radius: 0px;
  padding: 40px 56px;
  width: 385px;
  margin-top: 0;
}


#login label {
  font-size: .9375rem;
  font-weight: 700;
  letter-spacing: -.04em;
  line-height: 1.2;
}


#login input[type=text], #login input[type=password] {
  background-color: var(--color-form);
  border: 1px solid transparent;
  color: var(--color-default);
  border-radius: 0;
  font-size: .9375rem;
  height: 3rem;
  letter-spacing: -.04em;
  line-height: 1.3;
  margin-top: 10px;
  padding: 0 1rem;
}


#login input[type=text]:focus, #login input[type=password]:focus {
  border-color: #000;
  box-shadow: unset;
}


#login .button.wp-hide-pw {
  height: 3rem;
  top: 10px;
  color: var(--color-primary);
}


#login .wp-core-ui .button, #login.wp-core-ui .button-secondary {
  color: var(--color-primary);
}


#login .forgetmenot {
  line-height: 3.7rem;
}


#login input[type="checkbox"] {
  border-radius: 0;
}
#login input[type="checkbox"]:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px  var(--color-primary);
}


#login #loginform .button.button-large, #login #lostpasswordform .button.button-large {
  width: fit-content;
  margin-top: 10px;
  padding: 0.6875rem 1.625rem;
  font-size: 1.15rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -.04em;
  color: #fff;
  background-color: var(--color-primary);
  border: unset;
  border-radius: 0;
  text-transform: uppercase;
  font-family: var(--font-general);
}
#login #loginform .button.button-large:hover, #login #lostpasswordform .button.button-large:hover {
  background-color: var(--color-secondary);
}
#login input[type=submit]:hover {
  background-color: var(--color-secondary);
}
#login #nav {
  margin: 0;
  padding: 0;
  grid-column: 9/11;
  grid-row: 8;
  margin-top: 25px;
  padding-left: 25px;
}
#login #backtoblog {
  margin: 0;
  padding: 0;
  grid-column: 9/11;
  grid-row: 8;
  margin-bottom: 25px;
  padding-left: 25px;
}
#login #nav a, #login #backtoblog a {
  color: #ffffff;
  font-weight: 600;
}
#login #nav a:hover, #login #backtoblog a:hover {
  color: var(--color-primary);
}
/* Logo */
#login h1 a, .login h1 a {
  background-size: contain;
  width: 100%;
  height: 160px;
}


/* Bouton */


.wp-core-ui .button-primary {
  background: #84c446;
  border-color: #84c446;
}
.wp-core-ui .button-primary:hover {
  background: #e44e1c;
  border-color: #e44e1c;
}


/* Liens */
.login #backtoblog a,
.login #nav a,
.privacy-policy-page-link a {
  color: #444;
}
/* Liens */
.login #backtoblog a:hover,
.login #nav a:hover,
.privacy-policy-page-link a:hover {
  color: #e44e1c;
}
/* bouton connect */
/* #loginform .button.button-large {
  padding: 0 9px !important;
} */



body.is_rounded form {
  border-radius: 15px !important;
}


body.is_rounded #loginform input,
body.is_rounded #loginform .button.button-large {
  border-radius: 60px !important;
}


@media screen and (max-height: 660px) {
  #login #nav, #login #backtoblog {
    grid-row: 10;
  }
}


@media only screen and (min-width: 1300px) {
  #login {
    max-width: calc(5vw * 2 + 1240);
  }
}


@media only screen and (min-width: 992px) {
  #login {
    max-width: calc(5vw * 2 + 1024);
  }
}


@media only screen and (max-width: 992px) {
  #login h1 {
    grid-column: 4/8;
  }
}


@media only screen and (max-width: 768px) {
  #login_error, #login .message {
    grid-column: 2/12;
  }
  #login h1 {
    grid-column: 2/12;
    grid-row: 3/4;
    padding: 24px 24px 0;
    background: #fff;
    position: relative;
    z-index: 2;
  }


  #login h1 a, .login h1 a {
    background-position: left;
    height: 60px;
  }


  #login form {
    width: auto;
    margin-top: 0;
    grid-column: 2/12;
    grid-row: 5/8;
    padding: 40px 30px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }


  #login #loginform .button.button-large {
    float: left;
  }
  #login #backtoblog, #login #nav {
    grid-column: 2/12;
    grid-row: 11;
  }
}


