@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.popin-alert-wrapper {
    .popin {
        max-width: 60vw;
        max-height: 80vh;
        .border-rounded & {
            border-radius: $border-radius-default;
        }
    }
}
.module-alert {
    margin: auto;
    background-color: $color1;
    .btn-wrapper {
        @include flex(flex-start, flex-start, wrap);
        gap: rem(16px) rem(32px);
        .btn-secondary {
            color: $color3;
            border-color: $color3;
            @include hover {
                color: $color1;
            }

        }
    }
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background),    
    .cols-background-primary & {
        .btn-wrapper {
            .btn {
                &.btn-primary {
                    @include hover {
                        color: $color1;
                        background-color: $color4;
                    }
                }
                &.btn-secondary {
                    color: $color1;
                    border-color: $color1;
                    @include hover {
                        color: $color3;
                        background-color: $color1;
                        border-color: $color1;
                    }
                }
            }
        }
    }
    &.has-background-secondary:not(.cols_have_background), 
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    .cols-background-secondary & {
        .btn-wrapper {
            .btn {
                &.btn-primary {
                    @include hover {
                        color: $color1;
                        background-color: $color3;
                    }
                }
                &.btn-secondary {
                    color: $color1;
                    border-color: $color1;
                    @include hover {
                        color: $color4;
                        background-color: $color1;
                        border-color: $color1;
                    }
                }
            }
        }
    }
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        .btn-wrapper {
            .btn {
                &.btn-secondary {
                    color: $color-default;
                    border-color: $color-default;
                }
            }
        }
    }
}
.popin-alert-wrapper {
    .popin {
        background-color: transparent;
        &.has-no-text {
            display: flex;
            height: 100%;
            .module {
                height: 90%;
            }
            .background {
                height: 90%;
                background-size: contain;
            }
        }
    }
    .module-alert {
        .module-columns.has-background-primary:not(.cols_have_background) &,
        &.has-background-primary:not(.cols_have_background), 
        .cols-background-primary &,
        .module-columns.has-background-secondary:not(.cols_have_background) &,
        &.has-background-secondary:not(.cols_have_background), 
        .cols-background-secondary &,
        .module-columns.has-background-tertiary:not(.cols_have_background) &,
        &.has-background-tertiary:not(.cols_have_background), 
        .cols-background-tertiary & {
            .btn-close {
                @include hover {
                    svg * {
                        fill: currentColor;
                    }
                }
                svg * {
                    fill: currentColor;
                }
            }
        }
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
    .popin-alert-wrapper {
        .popin {
            max-width: 90vw;
            max-height: 80vh;
        }
    }
}