@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-files {
    .list {        
        &.files_preview {
            @include flex(center, stretch, wrap, 4, rem(40px));
            row-gap: rem(40px);
            &.columns-1 {
                .item {
                    flex-basis: 100%;
                }
            }
            &.columns-2 {
                .item {
                    flex-basis: calc(100% / 2 - rem(20px));
                }
            }
            &.columns-3 {
                .item {
                    flex-basis: calc(100% / 3 - rem(26.6667px));
                }
            }
            .module-pdf-viewer__frame {
                position: relative;
                iframe {
                    width: 100%;
                    max-height: 90vh;
                    aspect-ratio: 210 / 318;
                }
                .overlay {
                    position: absolute;
                    bottom: rem(12px);
                    left: rem(12px);
                    .btn {
                        display: flex;
                        align-items: center;
                        font-size: rem(16px);
                        column-gap: rem(8px);
                        padding: rem(4px) rem(10px);
                    }
                    svg {
                        width: rem(18px);
                        & > * {
                            fill: $color1;
                        }
                    }
                }
            }
        }
        &:not(.files_preview) {
            .item {
                display: flex;
                column-gap: rem(20px);
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: rem(12px);
                }
                .btn {
                    align-items: center;
                    font-size: rem(16px);
                    column-gap: rem(8px);
                    padding: rem(4px) rem(10px);
                    &.color-secondary {
                        background-color: $color4;
                        &:hover {
                            background-color: $color3;
                            border-color: $color3;
                        }
                    }
                }
            }
        }
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
    .module-files {
        .item {
            flex-basis: calc(100% / 2 - 2.5rem);
        }
    }
}

@media only screen and (max-width: 600px) {
    .module-icons .files {
        flex-basis: 100%;
    }
}