@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */

/* GENERAL
---------------------------------------- */
.module-plansite {
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(40px);
  }
  .item {
    flex-basis: calc(100% / 3 - #{rem(40px)} * 2 / 3);
  }
}
@media only screen and (max-width: 960px) {
  .module-plansite {
    .item {
      flex-basis: calc(100%);
    }
  }
}
