@import '../base/common';
/**
 * GENERAL
 * ANIMATIONS
 * MEDIA QUERIES
 */





/* GENERAL
---------------------------------------- */
.module-text-scrolling {
    .list {
        @include flex(flex-start);
        &.size-xs {
            font-size: rem(30px);
            .item::before {
                width: rem(14px);
            }
        }
        &.size-s {
            font-size: rem(50px);
            .item::before {
                width: rem(16px);
            }
        }
        &.size-m {
            font-size: rem(80px);
            .item::before {
                width: rem(20px);
            }
        }
        &.size-l {
            font-size: rem(120px);
            .item::before {
                width: rem(24px);
            }
        }
        &.size-xl {
            font-size: rem(168px);
            .item::before {
                width: rem(30px);
            }
        }
        &.direction-left {
            justify-content: flex-start;
            .list-content {
                animation-name: marquee-left;
            }
        }
        &.direction-right {
            justify-content: flex-end;
            .list-content {
                animation-name: marquee-right;
            }
        }
    }
    .list-content {
        @include flex();
        white-space: nowrap;
        animation: marquee-left 5s linear infinite;
    }
    .item {
        position: relative;
        padding-right: 1em;
        font-family: $font2;
        font-weight: 700;
        &::before {
            position: absolute;
            top: 50%;
            right: .5em;
            aspect-ratio: 1;
            background-color: currentColor;
            content: '';
            transform: translate(50%, -50%);
            .border-rounded & {
                border-radius: 50%;
            }
        }
    }
}





/* ANIMATIONS
---------------------------------------- */
@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5%);
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 600px) {
    .module-text-scrolling .list {
        &.size-s {
            font-size: 2.06rem;
        }
        &.size-m {
            font-size: 3.3rem;
        }
        &.size-l {
            font-size: 5rem;
        }
        &.size-xl {
            font-size: 6.93rem;
        }
    }
}
