/**
 * GENERAL
 * MEDIA QUERIES
 */





/* GENERAL
---------------------------------------- */
.page-archive-event {
    padding-top: spacing($module-spacing-small);
    padding-bottom: spacing($module-spacing-small);
    .archive-top {
        .title {
            padding-bottom: rem(40px);
            .mode-uppercase & {
                text-transform: uppercase;
            }
        }
        .txt {
            padding-bottom: rem(56px);
        }
        .columns {
            &-1 .col-2 {
                margin-top: rem(35px);
            }
            &-2 {
                &.cols-wrapper {
                    @include flex(space-between, flex-start);
                    gap: rem(35px);
                }
                .col {
                    &-1 {
                        flex-basis: 33.33%;
                    }
                    &-2 {
                        flex-basis: 65.81%;
                    }
                }
            }
        }
    }
    .tabs {
        margin-top: 0;
        margin-bottom: 0;

        & ~ .event-toggle{
            border-left: 2px solid $color5;
            width: fit-content;
        }
    }
    .event-top-option {
        display: flex;
        margin-bottom: rem(40px);
        position: relative;
        align-items: center;
        justify-content: flex-end;
        &.space-between {
            justify-content: space-between;
        }
        .event-toggle {
            display: flex;
            gap: 10px;
            font-size: rem(16px);
            font-weight: bold;
            border-left: unset;
            padding-left: rem(16px);
            height: fit-content;
            width: 10%;
            justify-content: flex-end;
            cursor: pointer;
            .icon svg {
                transform: rotate(180deg);
                fill: $color3;
                transition: $transition-default;
            }
            &-list {
                position: absolute;
                right: 0;
                top: 80%;
                opacity: 0;
                background-color: $color1;
                padding: rem(8px) rem(16px);
                transition: $transition-default;
                z-index: 0;
                visibility: hidden;
                p {
                    font-size: rem(16px);
                    font-weight: 600;
                    &.selected {
                        opacity: 0.7;
                        font-weight: 800;
                    }
                    &:first-child {
                        padding-bottom: rem(4px);
                    }
                }
            }
            &.active {
                .icon svg {
                    transform: rotate(0deg);
                }
                .event-toggle-list {
                    top: 100%;
                    opacity: 1;
                    z-index: 6;
                    visibility: visible;
                }
            }
        }
    }
    .item {
        & > * {
            letter-spacing: $letter-spacing-default;
        }
        .illus {
            display: block;
            &-wrapper {
                position: relative;
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background-color: $color3;
                    content: '';
                    transition: $transition-default;
                    .border-rounded & {
                        border-radius: $border-radius-default;
                    }
                }
            }
            .border-rounded & {
                border-radius: $border-radius-default;
            }
        }
        &:hover .overlay {
            opacity: 1;
            transform: translateY(0);
        }
        @include hover {
            .illus-wrapper::after {
                opacity: .5;
            }
        }
        .overlay {
            position: absolute;
            top: rem(28px);
            right: rem(28px);
            opacity: 0;
            z-index: 5;
            text-align: center;
            font-size: rem(15px);
            line-height: 1;
            font-weight: 700;
            letter-spacing: $letter-spacing-default;
            color: $color1;
            transform: translateY(rem(-10px));
            transition: $transition-default;
            .icon {
                display: block;
                margin-bottom: rem(5px);
            }
            svg {
                margin: 0 auto;
                * {
                    fill: $color1;
                }
            }
        }
        .title {
            font-size: rem(40px);
            font-weight: 600;
            margin-bottom: rem(6px);
            transition: $transition-default;
            letter-spacing: $letter-spacing-default;
            line-height: 1;
            font-family: $font2;
            .mode-uppercase & {
                text-transform: uppercase;
            }
        }
        .link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 6;
        }
    }
    .grid {
        padding-bottom: rem(50px);
        display: flex;
        flex-direction: column;
        row-gap: rem(16px);
        &.columns-3, &.columns-2, &.columns-1 {
            .item {
                display: flex;
                flex-grow: 0;
                flex-direction: column;
                img {
                    height: 100%;
                }
            }
        }
        &.columns-1 {
            justify-content: center;
            .item {
                max-width: 50%;
            }
        }
        hr, .description, .price {
            display: none;
        }
        .date-grid {
            position: absolute;
            bottom: rem(20px);
            right: rem(20px);
            z-index: 6;
            background-color: $color3;
            padding: rem(8px) rem(16px);
            font-size: rem(32px);
            color: $color1;
            font-weight: 700;
            font-family: $font2;
            .mode-uppercase & {
                text-transform: uppercase;
            }
            .border-rounded & {
                border-radius: $border-radius-default;
            }
        }
        .date-list {
            display: none;
        }
        .date-month {
            max-height: rem(366px);
            font-size: rem(56px);
            font-weight: 600;
            color: $color1;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 560 / 375;
            margin-bottom: auto;
            font-family: $font2;
            padding: rem(20px);
            .mode-uppercase & {
                text-transform: uppercase;
            }
            .border-rounded & {
                border-radius: $border-radius-default;
            }
        }
        .item {
            position: relative;
            transition: .5s;
            flex-grow: 0;
            .illus-wrapper{
                position: relative;
                img {
                    aspect-ratio: 5.5 / 3.65;
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
            &.vedette {
                .vedette-tag {
                    line-height: 1;
                    position: absolute;
                    top: rem(-6px);
                    left: rem(-8px);
                    font-size: rem(16px);
                    font-weight: 700;
                    color: $color1;
                    background-color: $color3;
                    padding: rem(6px) rem(12px);
                    transition: .5s;
                    display: flex;
                    align-items: center;
                    column-gap: rem(8px);
                    .mode-uppercase & {
                        text-transform: uppercase;
                    }
                    svg {
                        max-height: rem(18px);
                        fill: $color1;
                        width: auto;
                    }
                    .triangle {
                        position: absolute;
                        left: 0px;
                        bottom: -57%;
                        width: 18px;
                        height: 18px;
                        z-index: -1;
                        svg {
                            fill: $color4;
                        }
                    }
                }
                .border-rounded & {
                    .vedette-tag {
                        border-radius: rem(48px);
                        top: rem(20px);
                        left: rem(20px);
                    }
                    .triangle {
                        display: none;
                    }
                }

                .category {
                    color: $color3;
                    transition: $transition-default;
                }
            }
            .desc {
                padding: rem(16px);
            }
            .category {
                font-size: rem(14px);
                font-weight: 600;
                margin-bottom: rem(3px);
                color: $color4;
                .mode-uppercase & {
                    text-transform: uppercase;
                }
            }
            .date {
                font-size: rem(21px);
                margin-bottom: rem(5px);
                color: $color-default;
            }
            .location {
                display: flex;
                align-items: center;
                column-gap: rem(6px);
                color: $color-default;
                font-size: rem(20px);
                font-weight: 700;
                svg {
                    max-height: rem(18px);
                    fill: $color3;
                }
            }
            .fake-link {
                color: $color1;
                font-weight: 700;
                font-size: rem(20px);
                transition: 0.5s;
            }
        }
        .month-list {
            @include flex(flex-start, stretch, wrap, 3, rem(26px), 0);

            row-gap: rem(16px);
            &:nth-of-type(odd) {
                .date-month {
                    background-color: $color3;
                }
                .category {
                    color: $color3;
                }
                .item:hover {
                    .category {
                        color: $color-default;
                    }
                    .title {
                        color: $color3;
                    }
                }
            }
            &:nth-of-type(even) {
                .date-month {
                    background-color: $color4;
                }
                .date-grid, .vedette-tag {
                    background-color: $color4;
                }
                .category {
                    color: $color4;
                }
                .item:hover {
                    .category {
                    color: $color-default;
                }
                .title {
                    color: $color4;
                    }
                }
            }
        }
        &.a4 .month-list {
            & > * {
                flex-basis: calc(25% - rem(19.5px));
            }
            .item .illus-wrapper, .date-month {
                aspect-ratio: 210 / 297;
                max-height: unset;
            }
        }
    }
    .list {
        padding-bottom: rem(50px);
        li:not(:first-child) {
            .date-month {
                &:not(first-child) {
                    padding-top: rem(50px);
                }
            }
        }
        .month-list:not(:first-child) {
            padding-top: rem(54px);
        }

        &.a4 .illus-wrapper {
            aspect-ratio: 210 / 290;
            max-height: 40vh;
        }

        .item {
            display: flex;
            gap: rem(50px);
            position: relative;
            &:not(:last-child) {
                padding-bottom: rem(92px);
            }
            &.date-month {
                font-size: rem(35px);
                line-height: rem(35px);
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                gap: rem(16px);
                padding-bottom: rem(54px);
                .mode-uppercase & {
                    text-transform: uppercase;
                }
                span {
                    width: fit-content;
                    white-space: nowrap;
                }
                hr {
                    height: 2px;
                    width: -webkit-fill-available;
                    background-color: $color5;
                    border: 0;
                    margin-right: 0;
                }
            }
            .date-list {
                display: flex;
                width: 6%;
                flex-direction: column;
                .mode-uppercase & {
                    text-transform: uppercase;
                }
                .date-day {
                    font-size: rem(22px);
                    font-weight: 700;
                    text-align: center;
                }
                .date-num {
                    color: $color4;
                    font-size: rem(100px);
                    line-height: rem(100px);
                    letter-spacing: $letter-spacing-default;
                    font-weight: 600;
                    margin-left: rem(-10px);
                    font-family: $font2;
                    text-align: center;
                }
            }
            .date-grid {
                display: none;
            }
            .illus-wrapper {
                order: 3;
                max-width: 25%;
                .illus {
                    height: 100%;
                    aspect-ratio: 16 / 11;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .desc {
                display: flex;
                flex-direction: column;
                width: 75%;
                padding-top: 0;
                padding-bottom: 0;
                .category {
                    color: $color4;
                    font-size: rem(14px);
                    font-weight: 500;
                    .mode-uppercase & {
                        text-transform: uppercase;
                    }
                }
                .date {
                    font-size: rem(21px);
                    color: $color-default;
                    font-weight: 400;
                    margin-bottom: rem(4px);
                }
                .location {
                    font-size: rem(20px);
                    font-weight: 700;
                    color: $color-default;
                    margin-bottom: rem(20px);
                    display: flex;
                    gap: rem(10px);
                    line-height: 20px;
                    svg {
                        height: 20px;
                        fill: $color3;
                    }
                }
                .price {
                    color: $color4;
                    font-size: rem(25px);
                    font-weight: 500;
                    margin-top: rem(15px);
                    .mode-uppercase & {
                        text-transform: uppercase;
                    }
                }
            }
            &.vedette {
                .desc {
                    &-container {
                        padding-left: rem(20px);
                        border-left: 4px solid $color3;
                    }
                    .vedette-tag {
                        color: $color3;
                        display: flex;
                        gap: rem(10px);
                        font-size: rem(18px);
                        font-weight: 700;
                        line-height: 25px;
                        margin-bottom: rem(10px);
                        .mode-uppercase & {
                            text-transform: uppercase;
                        }
                        svg {
                            fill: $color3;
                            width: 25px;
                        }
                        .triangle {
                            display: none;
                        }
                    }
                }
                .date-num {
                    color: $color3;
                }
                .category {
                    color: $color-default;
                    font-weight: 600;
                }
                h3 {
                    color: $color3;
                }
                .price {
                    color: $color3;
                    font-size: rem(24px);
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
}




@media only screen and (max-width: 1024px) {
    .page-archive-event {
        .grid .item {
            flex-basis: calc(50% - 1.625rem );
        }
        .event-top-option .event-toggle {
            display: none;
        }
    }
}




/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
    .page-archive-event {
        form {
            flex-direction: column;
            .wrapper {
                width: 100%;
            }
        }
    }
}


/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
    .module-event {
        .event {
            &-item {
                width: 100%;
            }
        }
    }
    body .page-archive-event {
        .grid .item {
            flex-basis: 100%;
        }
    }
}
