html {
    &.negativeColor {
            filter: invert(100%)!important;
    }
    &.black_on_white {
        * {
            background-color: #fff !important;
            fill: #000!important;
            color: #000 !important;
            border-color: #000 !important;
        }
        svg {
            filter: invert(#fff)!important;
        }
    }
    &.white_on_black {
        * {
            background-color: #000 !important;
            color: #fff !important;
            border-color:#fff !important
        }
    }
}
html.fontSizeMore1 {
  font-size: rem(17px);
}
html.fontSizeMore2 {
  font-size: rem(18px);
}
html.fontSizeMore3 {
  font-size: rem(19px);
}
html.fontSizeMore4 {
  font-size: rem(20px);
}
html.fontSizeMore5 {
  font-size: rem(21px);
}

.jsAccessibilityOpen {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 10001;
    .accessibility-markup {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 4;
        opacity: 0;
        animation: fadeUp 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        transition: ease all 0.3s;
        background-color: var(--color-secondary);
        cursor: pointer;
        .border-rounded & {
            border-radius: rem(50px);
        }
        svg {
            fill: #fff;
            height: rem(30px);
        }
        &:hover {
            background-color: var(--color-primary);
        }
    }
}

.accessibility {
    & > * {
        .mode-uppercase {
            text-transform: uppercase;
        }
    }
    position: fixed;
    left: rem(16px);
    bottom: rem(-10px);
    padding: rem(24px);
    z-index: 10001;
    background-color: #fff;
    visibility: hidden;
    transform: translateY(100%);
    opacity: 0;
    transition: 1s cubic-bezier(.32,0,.07,1);
    .border-rounded & {
        border-radius: $border-radius-default;
        a {
            border-radius: $border-radius-default;
        }
        .btn {
            border-radius: rem(50px);
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: rem(10px);
        p {
            font-size: rem(27px);
            letter-spacing: -0.96px;
            color: var(--color-default);
            font-weight: 900;
            margin-bottom: 0;
        }
        .close {
            color: var(--color-primary);
            transition: transform 0.6s ease;
            cursor: pointer;
            &:hover {
                transform: rotate(90deg);
            }
        }
    }
    &__content {
        & > * {
            padding-bottom: rem(32px);
        }
        &__title {
            font-weight: 700;
            letter-spacing: -0.04em;
            color: var(--color-default);
            padding-bottom: rem(16px);
            p {
                margin-bottom: 0;
                font-size: rem(22px);
            }
        }
    }
    &__bottom {
        .btn {
            border: rem(2px) solid var(--color-secondary);
            color: var(--color-secondary);
            background-color: #fff;
            width: 100%;
            &:hover {
                color: #fff;
                background-color: var(--color-primary);
                border-color: var(--color-primary);
            }
        }
    }
    .modificator {
        display: flex;
        align-items: center;
        &__item {
            cursor: pointer;
            p {
                font-size: rem(12px);
                font-weight: bold;
                text-align: center;
                margin-top: rem(5px);
                margin-bottom: 0;
            }
            &:nth-child(2) {
                margin: 0 rem(25px);
            }
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            background-color: var(--color-secondary);
            padding: rem(25px);
            &:hover {
                background-color: var(--color-primary);
            }
        }
    }
    &__color__modificator {
        svg {
            .st0 {
                fill: #fff;
            }
            .st1 {
                fill:var(--color-default);
            }
        }
    }
    .accessibility__font-size__modificator {
        a {
            padding: 0;
            height: rem(74px);
            width: rem(74px);
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            &:hover {
                color: #fff;
            }
            span {
                display: block;
                text-align: center;
            }
        }
    }
    &__font-size__less span {
        font-size: rem(15px)!important;
    }
    &__font-size__reset span {
        font-size: rem(30px)!important;
    }
    &__font-size__more span {
        font-size: rem(45px)!important;
    }
}
.accessibility.active {
    bottom: rem(16px);
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.32,0,.07,1);
}

@keyframes fadeUp {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .accessibility.active, .accessibility, .accessibility-markup {
        display: none!important;
    }
}