/**
 * GENERAL
 * MEDIA QUERIES
 */





/* GENERAL
---------------------------------------- */
.page-archive-references {
    padding-top: spacing($module-spacing-small);
    padding-bottom: spacing($module-spacing-small);
    .archive-top {
        .title {
            padding-bottom: rem(40px);
        }
        .txt {
            padding-bottom: rem(56px);
        }
        .columns {
            &-1 .col-2 {
                margin-top: rem(35px);
            }
            &-2 {
                &.cols-wrapper {
                    @include flex(space-between, flex-start);
                    gap: rem(35px);
                }
                .col {
                    &-1 {
                        flex-basis: 33.33%;
                    }
                    &-2 {
                        flex-basis: 65.81%;
                    }
                }
            }
        }
    }
    .tabs {
        margin-top: 0;
    }
    .popin .btn-close {
      svg * {
        fill: $color3;
      }
      @include hover {
        svg * {
          fill: $color4;
        }
      }
    }

}


/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 600px) {
    .page-archive-references {
        .archive-top {
            .title {
                padding-bottom: rem(24px);
            }
            .txt {
                padding-bottom: rem(32px);
            }
            .columns-2 {
                &.cols-wrapper {
                    flex-direction: column;
                }
                .col-1, .col-2 {
                    flex-basis: 100%;
                }
            }
        }
    }
}
