/**
 * GENERAL
 */





/* GENERAL
---------------------------------------- */
.page-account {
    // List
    table.woocommerce-orders-table {
        text-align: center;
        .woocommerce-orders-table__cell-order-actions .button {
            @extend .btn;
            @extend .btn-quaternary;
        }
    }


    // Detail
    .intro-view-order mark {
        background-color: transparent;
        font-weight: 500;
    }
    .woocommerce-order-details, .woocommerce-customer-details {
        margin-top: rem(50px);
    }
    .woocommerce-order-details .order-again {
        margin-top: rem(10px);
        text-align: center;
        .button {
            @extend .btn;
            @extend .btn-primary;
        }
    }
}


/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 600px) {
    .page-account {
        table.woocommerce-orders-table {
            display: block;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            font-size: rem(14px);
            th, td {
                padding: rem(8px) rem(10px);
                white-space: nowrap;
            }
        }
        .woocommerce-order-details, .woocommerce-customer-details {
            margin-top: rem(30px);
        }
    }
}
