/**
 * GENERAL
 * MEDIA QUERIES
 */





/* GENERAL
---------------------------------------- */
.page-error-404 {
    margin-top: 0 !important;
    .content-404 {
        position: relative;
        padding: spacing(149px) 0 spacing(109px);
        background-color: rgba($color2, .1);
        color: $color1;
        text-align: center;
        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &::after {
                position: absolute;
                top: 30%;
                left: 0;
                width: 100%;
                height: 70%;
                opacity: .75;
                background: linear-gradient(0deg, rgba($color2, 1) 0%, rgba($color1, 0) 100%);
                content: '';
            }
        }
        .illus {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .title-page {
            .small {
                display: block;
                font-size: em(40px, 85px);
                letter-spacing: $letter-spacing-default;
            }
            .large {
                display: block;
                margin: em(-43px, 495px) 0 em(-8px, 495px);
                font-size: em(495px, 85px);
                letter-spacing: $letter-spacing-default;
            }
        }
        .txt {
            margin-top: rem(23px);
        }
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
    .page-error-404 .content-404 .title-page .large {
        font-size: 45vw;
    }
}

@media only screen and (max-width: 600px) {
    .page-error-404 .content-404 {
        padding: spacing(80px) 0 spacing(60px);
        .title-page {
            .small {
                font-size: em(28px, 85px);
            }
            .large {
                font-size: 55vw;
            }
        }
        .txt {
            font-size: rem(15px);
        }
    }
}
