/**
 * BREADCRUMB
 * LIST PRODUCTS
 * NOTIFICATIONS
 * FORM
 * OTHERS
 * MEDIA QUERIES
 */





/* BREADCRUMB
---------------------------------------- */
.main-page .woocommerce-breadcrumb {
  margin: rem(25px) 0;
  padding: 0;
  font-size: rem(14px);
  font-weight: 500;
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
  color: currentColor;
  text-transform: uppercase;
  @include container();
  a {
    color: currentColor;
    @include animation-underline();
  }
}





/* LIST PRODUCTS
---------------------------------------- */
.main-page ul.products {
  @include flex(flex-start, stretch, wrap, 4, rem(26px));
  row-gap: rem(90px);
  &::before, &::after {
    display: none;
  }
  li.product {
    position: relative;
    width: auto !important;
    margin: 0 !important;
    float: none !important;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    &.last {
      margin-right: 0;
    }
    .woocommerce-loop-product__link {
      display: block;
      width: 100%;
      flex-grow: 1;
      &:not(:active) {
        .illus-wrapper::after, .woocommerce-loop-product__title, .price {
          transition: $transition-default;
        }
      }
      &:hover .overlay {
        opacity: 1;
        transform: translateY(0);
      }
      @include hover {
        .illus-wrapper::after {
          opacity: .5;
        }
        .woocommerce-loop-product__title, .price {
          color: $color3;
        }
      }
    }
    .illus-wrapper {
      position: relative;
      background-color: rgba($color2, .1);
      overflow: hidden;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: $color3;
        content: ''
      }
      .border-rounded & {
        border-radius: $border-radius-default;
      }
    }
    .onsale {
      top: rem(32px);
      left: 0;
      right: auto;
    }
    .attachment-woocommerce_thumbnail, .woocommerce-placeholder {
      display: block;
      margin-bottom: 0;
    }
    .overlay {
      position: absolute;
      top: rem(28px);
      right: rem(28px);
      opacity: 0;
      z-index: 5;
      text-align: center;
      font-size: rem(15px);
      line-height: 1;
      font-weight: 700;
      letter-spacing: $letter-spacing-default;
      color: $color1;
      transform: translateY(rem(-10px));
      transition: $transition-default;
      .icon {
        display: block;
        margin-bottom: rem(5px);
      }
      svg {
        margin: 0 auto;
        * {
          fill: $color1;
        }
      }
    }
    .woocommerce-loop-product__title {
      margin-top: rem(3px);
      padding: 0;
      font-weight: 600;
      font-size: rem(20px);
      line-height: $line-height-default;
      letter-spacing: $letter-spacing-default;
    }
    .price {
      margin: rem(10px) 0 0;
      font-family: $font1;
      font-size: rem(24px);
      letter-spacing: -.04em;
      line-height: 1;
      font-weight: 900;
      color: currentColor;
      ins {
        text-decoration: none;
      }
    }
    .button {
      @extend .btn;
      @extend .btn-primary;
      position: relative;
      margin-top: rem(20px);
      &.product_type_simple.add_to_cart_button {
        padding-left: rem(43px);
        &::before {
          position: absolute;
          top: 50%;
          left: rem(29px);
          width: rem(16px);
          height: rem(15px);
          background: url('~@images/svg/cart.svg') no-repeat center;
          background-size: contain;
          filter: brightness(0) invert(1);
          content: '';
          transform: translate(-50%, -50%);
        }
        &.loading::after {
          top: calc(50% - 10px);
          right: rem(3px);
        }
        &.added {
          &::before {
            opacity: 0;
          }
          &::after {
            position: absolute;
            top: 50%;
            left: rem(29px);
            margin-left: 0;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    a.added_to_cart {
      display: none;
    }
  }
}

.woocommerce-shipping-totals {
    th {
        vertical-align: top;
    }
    #shipping_method  {
        input {
            vertical-align: unset;
        }
        li, label {
            cursor: pointer;
            font-size: 16px;
            line-height: 1.2;
        }
    }

    .woocommerce-shipping-methods input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        width: rem(18px);
        height: rem(18px);
        border: rem(2px) solid $color3;
        background-color: var(--color-background);
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-right: rem(10px);
        vertical-align: middle;
    }

    .woocommerce-shipping-methods input[type="radio"]:checked {
        background-color: $color3;
        border-color: $color3;
    }
    .woocommerce-shipping-methods input[type="radio"]:checked::after {
        content: '';
        position: absolute;
        top: -4px;
        left: -1px;
        width: rem(16px);
        height: rem(20px);
        display: block;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNNDM4LjYgMTA1LjRjMTIuNSAxMi41IDEyLjUgMzIuOCAwIDQ1LjNsLTI1NiAyNTZjLTEyLjUgMTIuNS0zMi44IDEyLjUtNDUuMyAwbC0xMjgtMTI4Yy0xMi41LTEyLjUtMTIuNS0zMi44IDAtNDUuM3MzMi44LTEyLjUgNDUuMyAwTDE2MCAzMzguNyAzOTMuNCAxMDUuNGMxMi41LTEyLjUgMzIuOC0xMi41IDQ1LjMgMHoiLz48L3N2Zz4=');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}



/* NOTIFICATIONS
---------------------------------------- */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  margin: rem(33px) 0;
  padding: rem(16px) rem(20px) rem(16px) rem(42px);
  border: 0;
  @include flex(flex-start, flex-start, wrap);
  gap: rem(5px);
  font-size: rem(16px);
  line-height: 1;
  color: $color-default;
  letter-spacing: $letter-spacing-default;
  &::before {
    left: rem(15px);
  }
  li {
    flex-basis: 100%;
  }
  a {
    text-decoration: underline;
    @include hover {
      text-decoration: none;
    }
  }
  a.button {
    display: inline-block;
    padding: 0;
    float: none;
    order: 5;
    background-color: transparent;
    font-weight: inherit;
    color: inherit;
    text-decoration: underline;
    @include hover {
      background-color: transparent;
      color: inherit;
      text-decoration: none;
    }
  }
  + .woocommerce-error, + .woocommerce-info, + .woocommerce-message {
    margin-top: rem(-23px);
  }
}
.woocommerce-error {
  background-color: rgba($color-error, .1);
  &::before {
    width: rem(19px);
    height: rem(16px);
    background: url('~@images/svg/woocommerce-error.svg') no-repeat center;
    background-size: contain;
    content: '';
  }
}
.woocommerce-info {
  background-color: rgba($color-warning, .1);
  &::before {
    width: rem(19px);
    height: rem(16px);
    background: url('~@images/svg/woocommerce-warning.svg') no-repeat center;
    background-size: contain;
    content: '';
  }
}
.woocommerce-message {
  background-color: rgba($color-success, .1);
  &::before {
    width: rem(18px);
    height: rem(13px);
    background: url('~@images/svg/woocommerce-success.svg') no-repeat center;
    background-size: contain;
    content: '';
  }
}





/* FORM
---------------------------------------- */
.main-page form {
  .form-row {
    margin: 0;
    padding: rem($form-row-spacing-top) 0 0;
    text-align: left;
    /* Styles identiques au module formulaire */
    &.woocommerce-validated {
      .select2-container .select2-selection--single, .input-text, select {
        border-color: $color-success;
      }
    }
    label {
      display: block;
      margin-bottom: rem(8px);
      font-size: rem(15px);
      line-height: $line-height-default;
      font-weight: 700;
      letter-spacing: $letter-spacing-default;
      .required {
        display: none;
      }
    }
    textarea.input-text {
      height: rem(110px);
      padding: rem(10px) rem(15px);
      line-height: 1.25;
      height: rem(215px);
      .border-rounded & {
        border-radius: rem(7px);
      }
    }
    .select2-container .select2-selection--single {
      @extend .input-text;
      @include flex(flex-start, center);
      .border-rounded & {
        border-radius: rem(48px);
      }
      .select2-selection__rendered {
        padding: 0;
        color: inherit;
        line-height: inherit;
      }
      .select2-selection__placeholder {
        color: inherit;
      }
      .select2-selection__arrow {
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        &::before {
          position: absolute;
          top: rem(21px);
          right: rem(17px);
          border-right: rem(6px) solid transparent;
          border-top: rem(6px) solid $color-default;
          border-left: rem(6px) solid transparent;
          content: '';
        }
        b {
          display: none;
        }
      }
    }
    .woocommerce-form__label-for-checkbox {
      @extend .input-radio-checkbox;
    }
    &#billing_address_1_field + #billing_address_2_field,
    &#shipping_address_1_field + #shipping_address_2_field {
      padding-top: rem($form-row-spacing-top-reduce);
    }
    &#billing_company_field, &#billing_postcode_field, &#billing_phone_field,
    &#shipping_company_field, &#shipping_postcode_field, &#shipping_phone_field {
      width: 47%;
      float: left;
      clear: none;
    }
    &#billing_city_field, &#billing_email_field,
    &#shipping_city_field, &#shipping_email_field {
      width: 47%;
      float: right;
      clear: none;
    }
  }
  .form-row > span, .mention-row {
    display: block;
    margin-top: rem(5px);
    font-size: rem(15px);
    line-height: 1.07;
    letter-spacing: $letter-spacing-default;
  }
  fieldset legend {
    padding-top: rem($form-row-spacing-top);
    @extend .title-section-4;
    margin-bottom: 0;
    color: currentColor;
    text-align: left;
  }
}





/* OTHERS
---------------------------------------- */
.main-page {
  // Tag Onsale
  span.onsale {
    position: absolute;
    min-width: inherit;
    min-height: inherit;
    margin: 0;
    padding: rem(8px) rem(17px) rem(10px) rem(37px);
    background-color: $color4;
    border-radius: 0;
    color: $color1;
    font-family: $font2;
    font-size: rem(20px);
    line-height: $line-height-default;
    font-weight: 700;
    text-transform: uppercase;
    &::before {
      position: absolute;
      top: 50%;
      left: rem(22px);
      width: rem(18px);
      height: rem(19px);
      background: url('~@images/svg/reduction-color1.svg') no-repeat center;
      background-size: contain;
      content: '';
      transform: translate(-50%, -50%);
    }
  }

  // Attribute
  table.shop_attributes {
    th, td {
      padding: rem(9px);
    }
  }

  // Quantity
  .qty {
    display: block;
    width: rem(65px);
    height: rem(33px);
    float: none;
    border: 1px solid $color5;
    text-align: center;
    font-size: rem(20px);
    line-height: 1;
    font-weight: 700;
    letter-spacing: $letter-spacing-default;
    transition: $transition-default;
    &::placeholder {
      opacity: 1;
      color: $color5;
    }
    &:focus {
      border-color: $color-default;
    }
    .border-rounded & {
      border-radius: rem(17px);
    }
  }

  // Table
  table.shop_table {
    margin: 0;
    border: 0;
    border-radius: 0;
    border-collapse: collapse;
    thead {
      .product-total {
        text-align: right;
      }
    }
    tbody {
      .cart_item:first-child td {
        border-top: 0;
      }
      td {
        padding-top: rem(10px);
        padding-bottom: rem(10px);
        height: rem(55px);
      }
      .product-total {
        text-align: right;
        font-weight: 600;
        line-height: $line-height-default;
        letter-spacing: $letter-spacing-default;
      }
    }
    tfoot {
      tr:not(.order-total) {
        &:first-child {
          th, td {
            padding-top: rem(17px);
          }
        }
        &:not(:first-child) {
          th, td {
            border-top: 0;
          }
        }
        th, td {
          padding-bottom: rem(17px);
        }
      }
      th, td {
        padding: 0;
        font-weight: 400;
      }
      th {
        text-align: left;
        font-size: rem(20px);
      }
      td {
        text-align: right;
        font-size: rem(24px);
        line-height: 1;
      }
    }
    tr.cart-subtotal th {
      vertical-align: middle;
    }
    tr.order-total {
      th, td {
        padding-top: rem(20px);
        vertical-align: middle;
      }
      th {
        font-weight: 700;
      }
      td {
        font-weight: 600;
      }
    }
    tr {
      position: relative;
    }
    th {
      vertical-align: middle;
      text-align: center;
      font-size: rem(16px);
      line-height: $line-height-default;
      letter-spacing: $letter-spacing-default;
    }
    td {
      padding: rem(20px) rem(10px);
      vertical-align: middle;
      line-height: $line-height-default;
      letter-spacing: $letter-spacing-default;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      a:not(.button) {
        @include hover {
          color: $color3;
        }
      }
    }
    .txt {
      font-size: rem(18px);
      line-height: $line-height-default;
      letter-spacing: $letter-spacing-default;
    }
    .woocommerce-Price-amount {
      font-family: $font2;
    }
    .woocommerce-shipping-methods {
      font-family: $font2;
      font-size: rem(24px);
      line-height: $line-height-default;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-default;
      li {
        margin-bottom: rem(8px);
      }
    }
    .woocommerce-shipping-destination {
      font-size: rem(14px);
      line-height: $line-height-default;
      font-style: italic;
      letter-spacing: $letter-spacing-default;
    }
    .woocommerce-shipping-calculator {
      margin-top: rem(10px);
      font-family: $font2;
      font-size: rem(14px);
      line-height: $line-height-default;
      color: $color3;
      text-transform: uppercase;
      text-decoration: underline;
      letter-spacing: $letter-spacing-default;
      .shipping-calculator-button {
        @include hover {
          color: $color4;
        }
      }
    }
    .shipping-calculator-button {
      text-decoration: underline;
      &::after {
        display: none;
      }
      @include hover {
        text-decoration: none;
      }
    }
    .shipping-calculator-form {
      text-align: center;
      .form-row {
        padding-top: rem(calc($form-row-spacing-top / 2));
        &:first-child {
          padding-top: 0;
        }
      }
      .button {
        @extend .btn;
        @extend .btn-quaternary;
        margin-top: rem(calc($form-row-spacing-top / 2));
      }
    }
  }

  .return-to-shop .wc-backward {
    display: flex;
    svg {
      max-height: rem(15px);
      transform: rotate(270deg);
    }
  }

  // Address
  .woocommerce-customer-details address {
    padding: rem(15px);
    border-width: 1px;
    border-radius: 0;
    .border-rounded & {
      border-radius: $border-radius-default;
    }
    .woocommerce-customer-details--phone, .woocommerce-customer-details--email {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
}


/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
  .main-page ul.products li.product {
    flex-basis: calc(100% / 3 - #{rem(26px)});
  }
  .woof_show_auto_form {
    display: block;
  }
}



@media only screen and (max-width: 768px) {
  .main-page {
    .qty {
      width: 3.4rem;
      height: 1.8rem;
      font-size: 1.1rem;
    }
    table.shop_table_responsive {
      tr {
        border-top: 1px solid $color5;
        td {
          height: auto;
          padding: .25rem $container-padding;
          border-top: 0;
          &::before {
            font-family: $font-default;
            font-size: rem(16px);
            font-weight: 700;
            letter-spacing: initial;
          }
          &:first-child {
            padding-top: .75rem;
          }
          &:last-child {
            padding-bottom: .75rem;
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 700px) {
  .main-page ul.products li.product {
    flex-basis: calc(100% / 2 - #{rem(26px)});
  }
}



@media only screen and (max-width: 600px) {
  .main-page {
    ul.products {
      justify-content: center;
      row-gap: 4rem;
      li.product {
        max-width: 29.64rem;
        flex-basis: 100%;
      }
    }
    ul.order_details li {
      margin-top: .75rem;
      padding-right: 0;
      padding-left: 0;
      border-right: 0;
      float: none;
      &:first-child {
        margin-top: 0;
      }
    }
    form .form-row {
      &.form-row-first, &.form-row-last,
      &#billing_company_field, &#billing_postcode_field, &#billing_phone_field,
      &#shipping_company_field, &#shipping_postcode_field, &#shipping_phone_field,
      &#billing_city_field, &#billing_email_field,
      &#shipping_city_field, &#shipping_email_field {
        width: 100%;
        float: none;
        clear: both;
      }
    }
  }
}
