.woocommerce-module {
  table {
    width: 100%;
    margin-bottom: 30px;
  }

  tr {
    border-bottom: 1px solid $nicklColorPrimary;
    margin-bottom: 15px;
  }

  td {
    line-height: 2.5em;

    &.first {
      width: 35%;
    }

    &.second {
      width: 30%;
    }

    &.third {
      width: 15%;
      text-align: right;
      padding-right: 15px;

      .woocommerce-Price-currencySymbol {
        padding-left: 5px;
      }
    }

    &.four {
      width: 20%;
    }
  }

  .order-status {
    display: inline-flex;
    line-height: 2.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    margin: -.25em 0;
    cursor: inherit !important;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
    text-align: center;

    span {
      width: 100%;
    }

    &.status-completed {
      background: #c8d7e1;
      color: #2e4453
    }

    &.status-on-hold {
      background: #f8dda7;
      color: #94660c
    }

    &.status-processing {
      background: #c6e1c6;
      color: #5b841b
    }
  }

  .order-preview {
    display: none;
  }

  .link {
    color: $nicklColorPrimary;
    font-size: rem(16px);
    font-weight: bold;
  }
}


body.bcnco-device-mobile {
  .woocommerce-module {
    td {
      &.first {
        width: 100%;
      }

      &.second {
        width: 70%;
      }

      &.third {
        width: 28%;
        padding-right: 0;
      }

      &.four {
        width: 45%;
        margin-left: 55%;
        margin-bottom: 15px;
      }
    }

    tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

body.bcnco-device-tablet {
  .woocommerce-module {
    tr {
      border-bottom: 1px solid $nicklColorPrimary;
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    td {
      &.first {
        width: 30%;
      }
    }
  }
}
