/**
 * GENERAL
 * CONTAINER
 * MAIN CONTENT
 * ADMIN BAR
 * MEDIA QUERIES
 */





/* GENERAL
---------------------------------------- */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: $font-default;
  font-size: $size-default;
  line-height: $line-height-default;
  color: $color-default;
  &.disable-scroll {
    overflow: hidden;
    #header .header-wrapper, #wrapper {
      overflow-y: scroll;
    }
    #header .container-large {
      overflow: hidden;
    }
  }
}

body {
  background: $color-background;
  --scrollbar-width: calc(100vw - 100%);
  .grecaptcha-badge {
    display: none!important;
  }
}


/* Image */
img {
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: visible !important;
}


/* Link */
#wrapper {
  a, button, input, select, textarea {
    &, &:focus, &:hover, &:active, &:visited {
      outline: 0;
      text-decoration: none!important;
    }
    &:focus {}
    &:visited {}
    &:hover {}
    &:active {}
  }
}

a, button, input[type='submit'], .btn {
  &:not(:active) {
    &, &::before, &::after, svg * {
      transition: $transition-default;
    }
  }
}


/* Accessibility */
.screen-reader-text {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}





/* Loader
---------------------------------------- */
.loader {
  img {
    animation: 1.5s fadeInUp;
  }
  &.disable {
    display: none !important;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}




/* CONTAINERS
---------------------------------------- */
.container, .container-large, #header, #footer, #cookie-banner {
  position: relative;
}

.container {
  @include container();
}
.container-large {
  width: 100%;
  max-width: rem(1920px);
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-padding;
  padding-left: $container-padding;
}

/* Header container */
#header {
  z-index: 20;
}

/* Search */
#search-form {
  z-index: 25;
}

/* Footer container */
#footer {
  z-index: 5;
}

/* Popin */
.popin-wrapper {
  z-index: 30;
}
.sub-header {
  padding-top: rem(40px);
  padding-bottom: rem(40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  .module {
    padding-top: 0;
    padding-bottom: 0;
    &.padding-top-small, &.padding-bottom-small {
      padding-top: 0;
      padding-bottom: 0;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .module-share .cols-wrapper {
    border-top: unset;
    padding-top: 0;
  }
  
}
.archive {
   .sub-header {
    padding-top: 0;
    &.container {
      margin-left: unset;
      margin-right: unset;
      max-width: 120rem;
    }
   }
}





/* MAIN CONTENT
---------------------------------------- */
#main {
  opacity: 1;
  overflow: hidden;
}
.title-section-1 {
  font-family: $font2;
  font-size: rem(80px);
  line-height: 1.05;
  letter-spacing: $letter-spacing-default;
  font-weight: 700;
  .mode-uppercase & {
    text-transform: uppercase;
    font-size: rem(68px);
  }
}

.title-section-2 {
  font-family: $font2;
  font-size: rem(42px);
  line-height: 1;
  letter-spacing: $letter-spacing-default;
  font-weight: 600;
  .mode-uppercase & {
    text-transform: uppercase;
    font-size: rem(45px);
  }
}

.title-section-3 {
  margin-bottom: rem(54px);
  font-family: $font2;
  text-align: center;
  font-size: rem(36px);
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: $letter-spacing-default;
  .mode-uppercase & {
    text-transform: uppercase;
    font-size: rem(38px);
  }
}

.title-section-4 {
  margin-bottom: rem(54px);
  font-family: $font2;
  text-align: center;
  font-size: rem(24px);
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
  font-weight: 600;
  color: $color5;
  .mode-uppercase & {
    text-transform: uppercase;
    font-size: rem(19px);
  }
}

.btn-scroll {
  position: relative;
  padding: rem(5px) rem(10px);
  z-index: 5;
  border: 0;
  font-size: rem(15px);
  line-height: 1;
  font-weight: 500;
  letter-spacing: $letter-spacing-default;
  &::before, &::after {
    position: relative;
    top: 0;
    display: block;
    width: rem(8px);
    height: rem(8px);
    margin: rem(2px) auto;
    border: 2px solid $color3;
    content: '';
    transform: rotate(45deg);
    transition: $transition-default;
  }
  &::before {
    margin-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
  &::after {
    margin-bottom: 0;
    border-top: 0;
    border-left: 0;
  }
  @include hover {
    &::before, &::after {
      border-color: $color4;
    }
  }
  &:hover {
    &::before {
      top: rem(-5px);
    }
    &::after {
      top: rem(5px);
    }
  }
  &-up {
    padding-top: rem(27px);
    &::after {
      display: none;
    }
  }
  &-down {
    padding-bottom: rem(27px);
    &::before {
      display: none;
    }
  }
}

.d-none {
  display: none !important;
}

/* Acymailing
--------------------------------------- */
#acym__callout__container {
  right: rem(14px);
  .acym_callout_close {
    color: $color1;
    font-size: 20px;
    font-weight: 700;
    transform: translateY(-20%);
  }
  .acym__callout__front__info {
    color: $color1;
    font-weight: 700;
    background-color: $color3;
    border-radius: 0;
    box-shadow: unset;
    .border-rounded & {
      border-radius: rem(48px);
    }
  }
}




/* ADMIN BAR
---------------------------------------- */
#wpadminbar {
  overflow-x: hidden;
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}



@media only screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}



@media only screen and (max-width: 1024px) {
  .title-section-1 {
    font-size: 4.5rem;
  }
  .sub-header {
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
  }
}



@media only screen and (max-width: 960px) {
  .title-section-1 {
    font-size: 4rem;
  }
  .title-section-3 {
    font-size: 2.25rem;
  }
}



@media only screen and (max-width: 600px) {
  .title-section-1 {
    font-size: 3rem;
    .mode-uppercase & {
      text-transform: uppercase;
      font-size: rem(40px);
    }
  }
  .title-section-2 {
    font-size: 2.75rem;
  }
  .title-section-3 {
    font-size: 2rem;
  }
  #wpadminbar {
    position: fixed;
  }
}
