/**
 * GENERAL
 * MEDIA QUERIES
 */





/* GENERAL
---------------------------------------- */
.search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 $container-padding;
    opacity: 0;
    visibility: hidden;
    @include flex(center, center);
    background-color: rgba($color1, .97);
    transition: all .5s ease;
    .search-active & {
        opacity: 1;
        visibility: visible;
        .form-content {
            top: 0;
            opacity: 1;
        }
    }
    .btn-close {
        position: absolute;
        top: rem(27px);
        right: rem(9px);
        width: rem(42px);
        height: rem(42px);
        z-index: 5;
        justify-content: center;
        align-items: center;
        border: 0;
        &::before, &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(20px);
            height: 2px;
            background-color: $color3;
            content: '';
        }
        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        @include hover {
            &::before, &::after {
                background-color: $color4;
            }
        }
    }
    .form-content {
        position: relative;
        top: -25vh;
        width: 100%;
        max-width: rem(703px);
        opacity: 0;
        transition: all .5s ease;
    }
    .search-field {
        display: block;
        width: 100%;
        height: em(108px, 60px);
        padding-right: em(58px, 60px);
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid $color3;
        font-family: $font2;
        font-size: em(60px);
        line-height: 1.3;
        font-weight: 600;
        color: $color3;
        letter-spacing: $letter-spacing-default;
        text-transform: uppercase;
        &::placeholder {
            opacity: .75;
            color: $color3;
        }
        &:focus {
            border-color: $color3bis;
        }
    }
    .search-submit {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: em(15px) 0 0 em(20px);
        border: 0;
        @include hover {
            svg * {
                fill: $color4;
            }
        }
        svg {
            width: em(38px);
            * {
                fill: $color3;
            }
        }
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 1024px) {
    .search-form {
        font-size: .9rem;
    }
}



@media only screen and (max-width: 960px) {
    .search-form {
        font-size: .8rem;
    }
}



@media only screen and (max-width: 600px) {
    .search-form {
        font-size: .7rem;
    }
}



@media only screen and (max-width: 480px) {
    .search-form {
        font-size: .6rem;
    }
}
