@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-banner-page {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba($color2, .1);
    &.small .desc::before {
        padding-top: 50vh;
    }
    &.medium .desc::before {
        padding-top: 70vh;
    }
    &.large .desc::before {
        padding-top: calc(100vh - rem($header-height));
        #header.background-transparent + .main-page & {
            padding-top: 100vh;
        }
    }
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: no-repeat center;
        background-size: cover;
    }
    &:not(.hide_banner_title) {
        .background {
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: rem(220px);
                opacity: .75;
                z-index: 5;
                content: '';
            }
        }        
    }
    .illus {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .desc {
        position: relative;
        @include flex(flex-start, flex-end);
        @include fake-flex-col(0);
        &::before {
            min-height: 28.57rem;
        }
    }
    .title {
        margin-top: 0;
        padding: 3.76% 0;
        color: $color1;
        text-shadow: 0 0 rem(20px) rgba($color2, .5);
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 1024px) {
    .module-banner-page .title {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}



@media only screen and (max-width: 960px) {
    .module-banner-page.large .desc::before {
        padding-top: calc(100vh - $header-height-rwd);
    }
}
