@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-columns {
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background),
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
        .item::before, .txt::before {
            background-color: $color1;
        }
    }
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        .item::before, .txt::before {
            background-color: $color1;
        }
    }
    .cols-wrapper {
        &.cols-background-light, &.cols-background-primary, &.cols-background-secondary, &.cols-background-tertiary {
            column-gap: 1.5rem;
            &.columns-1, &.columns-2 {
                .col {
                    padding: 2.5rem 3.9375rem;
                }
            }
            &.columns-3, &.columns-4 {
                .col {
                    padding: 1.9375rem 2.125rem;
                }
            }
        }
        &.cols-background-light {
            .col {
                background-color: $color1;
            }
        }
        &.cols-background-primary {
            .col {
                background-color: $color3;
            }
        }
        &.cols-background-secondary {
            .col {
                background-color: $color4;
            }
        }
        &.cols-background-tertiary {
            .col {
                background-color: $color5;
            }
        }
        @include flex(flex-start, stretch);
        column-gap: rem(50px);
        .col .cols-wrapper{
            align-items: flex-start;
        }
        &.columns-1 {
            .col {
                flex-basis: 100%;
                width: 100%;
            }
        }
        &.columns-2 {
            .module-logos-slider {
                .item {
                    flex-basis: calc(100% / 3);
                }
            }
            &_1-3 > .col {
                &:first-child {
                    width: 33%;
                }
                &:last-child {
                    width: 67%;
                }
            }
            &_2-2 > .col {
                flex-basis: 100%;
                width: 50%;
            }
            &_3-1 > .col {
                &:first-child {
                    width: 67%;
                }
                &:last-child {
                    width: 33%;
                }
            }
        }
        &.columns-3 {
            .module-logos-slider {
                .item {
                    flex-basis: calc(100% / 2);
                }
            }
            .col {
                flex-basis: 100%;
                width: 33%;
                &:last-child {
                    .module-video {
                        .illus-wrapper.full-height {
                            position: absolute;
                            right: 0;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        &.columns-4 {
            .col {
                flex-basis: 100%;
                width: 25%;
            }
        }
        &.cols_justify_center .col {
            justify-content: center;
            > .module {
                flex: 0 1 auto;
            }
            .cols-wrapper{
                align-items: center;
            }
        }
        .col {
            flex-direction: column;
            @include flex(flex-start, flex-start);
            align-items: flex-start;
            row-gap: rem(25px);
            &-1 .module-video {
                .illus-wrapper, .video {
                    &.full-height {
                        margin-left: min(calc((#{$container-width} - 100vw) / 2), -#{$container-padding});
                        margin-right: 0;
                        .border-rounded & {
                            border-top-right-radius: $border-radius-default;
                            border-bottom-right-radius: $border-radius-default;
                        }
                    }
                }
            }
            &-2 .module-video {
                .illus-wrapper, .video {
                    &.full-height {
                        margin-right: min(calc((#{$container-width} - 100vw) / 2), -#{$container-padding});
                        margin-left: 0;
                        .border-rounded & {
                            border-top-left-radius: $border-radius-default;
                            border-bottom-left-radius: $border-radius-default;
                        }
                    }
                }
            }
        }
    }
    .container, .container-large {
        .module, .container, .container-large {
            padding: 0;
        }
        .module:not(:first-child).padding-top-small {
            padding-top: spacing($module-spacing-small);
        }
    }

    .module {
        width: 100%;
        .slider-navigation {
            &.next {
                right: 0;
            }
            &.prev {
                left: 0;
            }
        }
        &-images-slider {
            .item::before, &.full-width .item::before {
                padding-top: rem(550px);
            }
            .border-rounded & {
                .item::after, &.full-width .item::after {
                    border-radius: 0 0 $border-radius-default $border-radius-default;
                }
            }
            .desc {
                padding: 0 calc(7.47% - .05639rem) 7.17%;
            }
            &.full-width {
                .border-rounded & .slider  {
                    border-radius: $border-radius-default;
                }
            }
        }
        &-news-slider {
            .link {
                flex-direction: column;
            }
            .illus-wrapper {
                flex: 0 1 auto!important;
                width: 100%;
            }
            .desc {
                flex: 0 0 auto!important;
                .txt, .date {
                    display: none;
                }
            }
        }
        &-icons {
            .list .item {
                flex-basis: calc(100% / 3 - rem(40px));
            }
        }
        &-illustration-video, &-illustration-video.full-width {
            .video {
                .border-rounded & {
                    border-radius: $border-radius-default;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .module {
        &-columns {
            .cols-wrapper {
                flex-direction: column;
                row-gap: rem(30px);
                .col {
                    display: block;
                    .module-video {
                        .illus-wrapper, .video {
                            &.full-height {
                                margin-right: -#{$container-padding};
                                margin-left: -#{$container-padding};
                                .border-rounded & {
                                    border-radius: $border-radius-default;
                                }
                            }
                        }
                    }
                }
                &.columns-2, &.columns-3 {
                    .col {
                        width: 100%;
                    }
                }
                &.columns-3 .col {
                  &-3 {
                    .module-video {
                      .illus-wrapper.full-height {
                        position: relative;
                        margin-left: -5vw;
                      }
                    }
                  }
                }
            }
        }
        &-icons {
            .list .item {
                flex-basis: calc(100% / 2 - rem(40px));
            }
        }
    }
}