@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-head-text {
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary &,
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        .title {
            color: currentColor;
        }
    }
    &.columns {
        &-1 .col-2 {
            margin-top: rem(35px);
        }
        &-2 {
            .cols-wrapper {
                @include flex(space-between, flex-start);
            }
            .col {
                &-1 {
                    flex-basis: 33.33%;
                }
                &-2 {
                    flex-basis: 61.81%;
                }
            }
        }
    }
    h1 {
        &.title {
            color: $color3;
         }
    }
    h2 {
        &.title {
            color: $color-default;
            font-size: rem(40px);
        }
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
    .module-head-text.columns-2 {
        .cols-wrapper {
            display: block;
        }
        .col-2 {
            margin-top: rem(35px);
        }
    }
}

@media only screen and (max-width: 600px) {
    .module-head-text {
        h2.title {
            font-size: rem(28px);
        }
        .col-2 {
            margin-top: rem(20px);
        }
    }
}
