@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-map {
    .module-columns.has-background-primary:not(.cols_have_background) &,
    &.has-background-primary:not(.cols_have_background), 
    .cols-background-primary &,
    .module-columns.has-background-secondary:not(.cols_have_background) &,
    &.has-background-secondary:not(.cols_have_background), 
    .cols-background-secondary & {
    .slider-pagination .swiper-pagination-bullet {
            opacity: .4;
            background-color: $color1;
            &-active {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .module-columns.has-background-tertiary:not(.cols_have_background) &,
    &.has-background-tertiary:not(.cols_have_background), 
    .cols-background-tertiary & {
        .slider-pagination .swiper-pagination-bullet {
            opacity: .4;
            background-color: $color-default;
            &-active {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    &.full-width {
        .container-1 {
            padding-right: 0;
            padding-left: 0;
        }
        .map {
            .border-rounded & {
                border-radius: 0;
            }
        }
    }
    .map-wrapper {
        position: relative;
        @include square(37.39%);
        .btn-primary {
            position: absolute;
            z-index: 99;
            top: 97px;
            right: 10px;
            background-color: $color1;
            padding: 0;
            border: unset;
            border-top: 1px solid #ddd;
            @include hover() {
                background-color: $color3;
                svg > * {
                    fill: $color1;
                }
            }
            svg {
                max-width: 30px;
                > * {
                    fill: $color3;
                }
            }
        }
        .mapboxgl-ctrl-group {
            border-radius: 0;
            button {
                &.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
                    background-image: none;
                    background-color: $color3;
                    -webkit-mask-size: cover;
                    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E");

                }
                &.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
                    background-image: none;
                    background-color: $color3;
                    -webkit-mask-size: cover;
                    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E");

                }
                &.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
                    background-image: none;
                    background-color: $color3;
                    -webkit-mask-size: cover;
                    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M10.5 14l4-8 4 8h-8z'/%3E%3Cpath id='south' d='M10.5 16l4 8 4-8h-8z' fill='%23ccc'/%3E%3C/svg%3E");

                }
                &:first-child, &:last-child {
                    border-radius: 0;
                }
                @include hover() {
                    background-color: $color3;
                    .mapboxgl-ctrl-icon {
                        background-color: $color1;
                    }
                }
            }
            &:not(:empty) {
                box-shadow: unset;
            }
        } 
        
    }
    .map {
        .border-rounded & {
            border-radius: $border-radius-default;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color2, .1);
    }
    .container-pin {
        position: relative;
        max-width: rem(40px);
        max-height: rem(40px);
        padding: rem(5px) rem(5px);
        background-color: $color1;
        border-radius: 50% 50% 50% 0;
        transform: translate(-20%, -85%) rotate(-45deg);
        box-shadow: rem(-1px) rem(1px) rem(4px) rgba($color2, .5);
    }
    .img-pin {
        transform: rotate(45deg);
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
    .module-map .map-wrapper::before {
        padding-top: 75%;
    }
}