@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */

/* GENERAL
---------------------------------------- */
.module-newsletter-form {
  .module-columns.has-background-primary:not(.cols_have_background) &,
  &.has-background-primary:not(.cols_have_background), 
  .cols-background-primary &,
  .module-columns.has-background-secondary:not(.cols_have_background) &,
  &.has-background-secondary:not(.cols_have_background), 
  .cols-background-secondary & {
    #acym_fulldiv_formAcym1 {
      .acym__user__edit__email {
        border-color: $color1;
        color: $color1;
        &::placeholder {
          color: $color1;
          opacity: 0.75;
        }
      }
      .acym__subscription__form__button button {
        background-color: $color1;
        border-color: $color1;
        color: $color3;
        @include hover {
          color: $color1;
          background-color: transparent;
          border-color: $color1;
        }
      }
      .acym__subscription__form__termscond {
          label, a {
              color: $color1;
          }
      }
    }
  }
  .module-columns.has-background-secondary:not(.cols_have_background) &,
  &.has-background-secondary:not(.cols_have_background), 
  .cols-background-secondary & {
    #acym_fulldiv_formAcym1 {
      .acym__subscription__form__button button {
        color: $color4;
      }
      .acym__subscription__form__termscond {
        input[type="checkbox"] {
          border: rem(2px) solid $color1;
          background-color: var(--color-background);
          &:checked {
            background-color: $color4;
            border-color: $color4;
          }
        }
      }
    }
  }
  &.left {
    #acym_fulldiv_formAcym1.acym__subscription__form__shortcode {
      margin-left: 0;
      text-align: left;
      justify-content: flex-start;
    }
  }
  &.center {
    .txt > * {
      text-align: center;
    }
  }
  &.right {
    .txt > * {
      text-align: right;
    }
    #acym_fulldiv_formAcym1.acym__subscription__form__shortcode {
      margin-right: 0;
      text-align: right;
      justify-content: flex-end;
    }

  }
  #acym_fulldiv_formAcym1 {
    margin-top: 2rem !important;
    padding-left: 0;
    form {
      display: flex;
      gap: rem(9px) rem(19px);
      .acym_invalid_field {
        border-width: 2px;
      }
    }
    .acym__subscription__form__lists {
      display: none!important;
    }
    &.acym__subscription__form__shortcode {
      background-color: unset;
      height: unset;
      width: auto;
      .acym__subscription__form__fields, .acym__subscription__form__fields > div:not(.acym__subscription__form__termscond), .acym__subscription__form__button {
        margin: 0!important;

      }
    }
    .acym__user__edit__email {
      border: rem(2px) solid $color-default;
      padding: rem(9px) rem(26px);
      line-height: 1;
      .border-rounded & {
        border-radius: rem(48px);
      }
    }
    .acym__subscription__form__button button {
      background-color: $color-default;
      border: rem(2px) solid $color-default;
      color: $color1;
      white-space: nowrap;
      font-weight: 700;
      font-size: rem(16px);
      padding: rem(11px) rem(26px);
      @include hover {
        color: $color1;
        background-color: $color3;
        border-color: $color3;
      }
      .border-rounded & {
        border-radius: rem(48px);
      }
      .mode-uppercase & {
        text-transform: uppercase;
      }
    }
    .acym__subscription__form__termscond {
      width: fit-content;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1rem !important;
      label {
        color: $color-default;
      }
      a {
        color: $color-default;
        white-space: nowrap;
        @include animation-underline;
      }
      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        width: rem(18px);
        height: rem(18px);
        border: rem(2px) solid $color3;
        background-color: var(--color-background);
        display: inline-block;
        position: relative;
        cursor: pointer;
        vertical-align: middle;
        transform: translateY(-2px);
        .border-rounded & {
          border-radius: 10px;
        }
        &:checked {
          background-color: $color3;
          border-color: $color3;
          &:after {
            content: '';
            position: absolute;
            top: -4px;
            left: -1px;
            width: rem(16px);
            height: rem(20px);
            display: block;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNNDM4LjYgMTA1LjRjMTIuNSAxMi41IDEyLjUgMzIuOCAwIDQ1LjNsLTI1NiAyNTZjLTEyLjUgMTIuNS0zMi44IDEyLjUtNDUuMyAwbC0xMjgtMTI4Yy0xMi41LTEyLjUtMTIuNS0zMi44IDAtNDUuM3MzMi44LTEyLjUgNDUuMyAwTDE2MCAzMzguNyAzOTMuNCAxMDUuNGMxMi41LTEyLjUgMzIuOC0xMi41IDQ1LjMgMHoiLz48L3N2Zz4=');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}
/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 1024px) {
  .module-newsletter-form {
    #acym_fulldiv_formAcym1 form {
      flex-direction: column;
      .acym__subscription__form__termscond {
        position: relative;
        left: 0;
        transform: none;
        label {
          display: block;
          position: relative;
          white-space: norm l;
          left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .module-newsletter-form {
    #acym_fulldiv_formAcym1 {
      .acym__user__edit__email {
        padding: rem(9px) rem(16px);
        font-size: rem(14px);
      }
      .acym__subscription__form__button button {
        font-size: rem(14px);
        padding: rem(11px) rem(16px);
      }
    }
  }
}