@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module.module-ornament {
    z-index: -1;
    .illus-wrapper {
        position: absolute;
        width: 100%;
        &.img-left {
            left: 0;
        }
        &.img-center {
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &.img-right {
            right: 0;
        }
    }
    .illus {
        position: relative;
        top: -7vh;
        display: block;
        width: 100%;
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 600px) {
    .module-ornament {
        display: none;
    }
}