@import '../base/common';
/**
 * GENERAL
 */





/* GENERAL
---------------------------------------- */
.module-share {
    .cols-wrapper {
        padding-top: rem(7px);
        @include flex(flex-start, center, wrap);
        gap: rem(10px);
        border-top: rem(1px) solid $color6;
    }
    .title-list {
        @include flex(flex-start, center);
        gap: rem(8px);
        font-family: $font2;
        font-size: rem(20px);
        line-height: 1.2;
        letter-spacing: $letter-spacing-default;
        font-weight: 700;
        svg {
            height: rem(20px);
            width: rem(20px);
            & > * {
                fill: $color3;
            }
        }
    }
    .social-networks {
        margin-right: 0;
        margin-left: 0;
        position: relative;
    }
    .link {
        width: rem(30px);
        @include hover {
            svg * {
                fill: $color3;
            }
        }
        svg {
            width: rem(18px);
            height: rem(18px);
            * {
                fill: $color-default;
            }
        }
    }
    .js_copy-link {
        border: unset;
        span:last-child {
            display: none;
            opacity: 0;
            transition: $transition-default;
        }
        &.copied {
            span:last-child {
                display: block;
                position: absolute;
                right: 0;
                width: fit-content;
                transform: translateX(100%);
                opacity: 1;
            }
        }
    }
}
