@import '../base/common';
/**
 * GENERAL
 * MEDIA QUERIES
 */






/* GENERAL
---------------------------------------- */
.module-text-image {
    &.img-parallax {
        .illus-wrapper.full-height {
            max-height: 100vh;
            .illus {
                height: calc(100vh + 200px);
            }
        }
        .illus {
            height: calc(100% + 200px);
            margin-top: -200px;
        }
    }
    .cols-wrapper {
        @include flex(flex-start, center);
        gap: rem(32px);
        &.img-right {
            flex-direction: row-reverse;
        }
        &.full-height {
            &.img-left {
                .col-1 {
                    height: 100vh;
                    .illus-wrapper, .video-wrapper, .illus-video {
                        margin-left: min(calc((#{$container-width} - 100vw) / 2), -#{$container-padding});
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        height: 100vh;
                        max-height: 100vh;
                    }
                    .video-wrapper {
                        right: 0;
                        // left: 0;
                        overflow: hidden;
                        max-width: calc(5vw* 2 + 1920px / 2);
                        min-width: calc(100% - 5vw);
                    }
                    .background-video, .illus-video {
                        width: auto;
                        right: 0;
                        left: unset;
                    }
                    button, iframe {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        right: 0;
                        left: unset;
                    }
                }
                &.text-width-25 {
                    .col-1 {
                        .video-wrapper {
                            left: 0;
                            width: unset;
                            max-width: unset;
                            min-width: 100%;
                        }
                    }
                }
            }
            &.img-right {
                .col-1 {
                    height: 100vh;
                    .illus-wrapper, .video-wrapper, .illus-video {
                        margin-right: min(calc((#{$container-width} - 100vw) / 2), -#{$container-padding});
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        height: 100vh;
                        max-height: 100vh;
                    }
                    .video-wrapper {
                        left: 0;
                    }
                    .background-video, .illus-video {
                        width: auto;
                        left: 0;
                        right: unset;
                    }
                    button, iframe {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        left: 0;
                        right: unset;
                    }
                    .illus-video {
                        max-width: calc(5vw* 2 + 1920px / 2);
                        min-width: calc(100% - 5vw);
                        .border-rounded & {
                            border-radius: $border-radius-default;
                        }
                    }
                }
            }
            &.text-width-50 {
                .col-1 {
                    height: 100vh;
                    flex-basis: calc(50% + rem(16px));
                    .illus-wrapper, .video-wrapper, .illus-video {
                        width: 50vw;
                    }
                }
                .col-2 {
                    flex-basis: calc(50% - rem(16px));
                }
            }
            &.text-width-25 {
                .col-1 {
                    .illus-wrapper .illus, .video-wrapper .video, .illus-video {
                        width: 75vw;
                    }
                }
            }
        }
        &.text-width-25 {
            .col-1 {
                flex-basis: 75%;
                max-width: 75%;
            }
            .col-2 {
                flex-basis: 25%;
            }
        }
        &.text-width-50 {
            .col-1 {
                flex-basis: 50%;
                max-width: 50%;
            }
            .col-2 {
                flex-basis: 50%;
            }
        }
        &.text-width-75 {
            .col-1 {
                flex-basis: 25%;
                max-width: 25%;
            }
            .col-2 {
                flex-basis: 75%;
            }
        }
    }
    .col {
        flex: 1 1 50%;
        &-1 {
            text-align: center;
        }
        &.text-align {
            &-left > * {
                text-align: left;
            }
            &-center > * {
                text-align: center;
            }
            &-right > * {
                text-align: right;
            }
        }
    }
    .illus-wrapper, .video-wrapper {
        overflow: hidden;
        .border-rounded & {
            border-radius: $border-radius-default;
        }
    }
    .media {
        display: block;
        margin: auto;
        object-fit: cover;
        object-position: center;
    }
    .illus-wrapper, .video-wrapper {
        display: inline-block;
        max-height: calc(100vh - #{rem($header-height)});
        &.default {
            .illus {
                height: auto;
            }
        }
        &.landscape {
            aspect-ratio: 297/210;
        }
        &.portrait {
            max-width: rem(702px);
            aspect-ratio: 100/136;
        }
        &.square {
            max-width: rem(956px);
            aspect-ratio: 1;
        }
    }
    .illus {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .video-wrapper {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        max-height: calc(100vh - #{rem($header-height)});
        .video {
            height: 100%;
        }
        &.active iframe {
            opacity: 1;
            visibility: visible;
        }
        &.default video {
            position: static;
            width: 100%;
            height: auto;
        }
        &.landscape {
        }
        &.portrait {
            max-width: rem(702px);
            aspect-ratio: 100/136;
        }
        &.square {
            max-width: rem(956px);
            aspect-ratio: 1;
        }
        &.full-height  {
            overflow: visible;
            position: absolute;
            video {
                max-height: 100%;
                .border-rounded & {
                    border-radius: $border-radius-default;
                }
            }
            iframe, button {
                max-width: calc(5vw* 2 + 1920px / 2);
                width: 50vw;
                min-width: calc(100% - 5vw);
                .border-rounded & {
                    border-radius: $border-radius-default;
                }
            }
        }
        .background-video, .illus-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .video-wrapper {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
    .illus-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color2;
        opacity: 0;
        visibility: hidden;
        transition: all .6ms ease;
    }
    .btn {
        top: 0;
        left: 0;
        border: 0;
        font-family: $font2;
        font-size: rem(20px);
        line-height: $line-height-default;
        letter-spacing: $letter-spacing-default;
        font-weight: 700;
        svg {
            width: rem(100px);
            max-width: 20vw;
            * {
                fill: $color1;
            }
        }
        .txt {
            margin-top: rem(10px);
        }
    }
    .btn-wrapper {
        &.align-center {
        text-align: center;
        }
        &.align-right {
        text-align: right;
        }
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 960px) {
    .module-text-image {
        &.img-parallax .illus-wrapper.full-height {
            max-height: calc(100vh - $header-height-rwd);
        }
        .cols-wrapper {
            display: block;
            &.full-height {
                &.img-left, &.img-right {
                    .col-1 {
                        height: 50vh;
                        overflow-y: hidden;
                        .illus-wrapper {
                            margin-left: min((1430px - 100vw) / 2, -5vw);
                            margin-right: min((1430px - 100vw) / 2, -5vw);
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .col {
            &-1 {
                max-width: 100%!important;
                margin-right: auto;
                margin-left: auto;
            }
            &-2 {
                margin-top: 2.25rem;
            }
        }
        .illus-wrapper, .video-wrapper {
            &.full-height {
                margin-right: -#{$container-padding};
                margin-left: -#{$container-padding};
                max-height: calc(100vh - $header-height-rwd);
                border-radius: 0;
                position: relative;
                overflow: hidden;
                width: 100%;
                height: auto!important;
                .illus-wrapper {
                    width: 100vw;
                }
            }
            .video-wrapper {
                &.full-height {
                    border-radius: 0;
                }
            }
        }
        .illus-wrapper.default .illus {
            height: auto;
            margin-top: 0;
            transform: translateY(0) !important;
        }
        &.full-height {
            &.no-padding-top {
                padding-top: rem(36px);
            }
            &.no-padding-bottom {
                padding-bottom: rem(36px);
            }
            .video-wrapper, .col-1, iframe, button, .background-video {
                height: 80vh;
                .border-rounded & {
                    border-radius: $border-radius-default;
                }
            }
            &.text-width-25 {
                .col-1 {
                    max-width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .module-text-image {
        .col-2 {
            margin-top: rem(18px);
        }
        .btn {
            font-size: rem(16px);
            svg {
                width: rem(60px);
            }
        }
        &.full-height {
            .video-wrapper, .col-1, iframe, button, .background-video {
                height: 60vh;
            }
        }
    }
}
