<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="backend/tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="default"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="poolp">
            <directory>backend/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>backend</directory>
        </include>
    </source>
</phpunit>
