/**
 * GENERAL
 * MEDIA QUERIES
 */





/* GENERAL
---------------------------------------- */
.slider-navigation {
    position: absolute;
    z-index: 5;
    top: 50%;
    display: none;
    padding: rem(10px);
    border: 0;
    transform: translateY(-50%);
    &::before {
        position: relative;
        display: block;
        width: rem(24px);
        height: rem(24px);
        border: 2px solid $color3;
        content: '';
        transform: rotate(45deg);
    }
    @include hover {
        &::before {
            border-color: $color4;
        }
    }
    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
    }
    &.prev {
        left: 0;
        &::before {
            left: rem(5px);
            border-top: 0;
            border-right: 0;
        }
    }
    &.next {
        right: 0;
        &::before {
            right: rem(5px);
            border-bottom: 0;
            border-left: 0;
        }
    }
    .swiper-initialized ~ &, .swiper-initialized & {
        display: block;
    }
}
.slider-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    z-index: 5;
    @include flex(center, center);
    gap: rem(10px);
    .swiper-initialized ~ &, .swiper-initialized & {
        display: flex;
    }
    .swiper-pagination-bullet {
        margin: 0;
        width: rem(8px);
        height: rem(8px);
        opacity: .2;
        background-color: $color3;
        transition: $transition-default;
        &-active {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
    }
}





/* MEDIA QUERIES
---------------------------------------- */
@media only screen and (max-width: 600px) {
    .slider-navigation::before {
        width: 1rem;
        height: 1rem;
    }
}
