// CONTAINER
// HOVER FOCUS NOT ACTIVE
// SPACING RWD
// REM
// FLEX
// SQUARE
// FAKE FLEX COL





// CONTAINER
// ----------------------------------------
@mixin container($width: $container-width, $padding: $container-padding) {
	width: 100%;
	max-width: calc(#{$padding} * 2 + #{$width});
	margin-right: auto;
	margin-left: auto;
	padding-right: $padding;
	padding-left: $padding;
}





// HOVER FOCUS NOT ACTIVE
// ----------------------------------------
@mixin hover() {
	&:hover, &:focus {
		&:not(:active) {
			@content;
		}
	}
}





// SPACING RWD
// ----------------------------------------
@function spacing($space, $width-window: 1920px) {
	$valuepx: calc($space / 2);
	$valuepourcent: calc(calc($space / 2) * 100 / $width-window) * 1vw;
	@return calc(#{$valuepx} + #{$valuepourcent});
}





// REM
// ----------------------------------------
@function rem($px_value, $base: $size-default) {
	@if $px_value == 0 or type-of($px_value) != 'number' {
		@return $px_value;
	}
	@return calc($px_value / ($base / 1rem));
}





// EM
// ----------------------------------------
@function em($px_value, $base: $size-default) {
	@if $px_value == 0 or type-of($px_value) != 'number' {
		@return $px_value;
	}
	@return calc($px_value / ($base / 1em));
}





// FLEX
// ----------------------------------------
@mixin flex($justify-content: flex-start, $align-items: flex-start, $flex-wrap: nowrap, $col: false, $gutter: 0px, $grow: 0, $shrink: 1) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
  column-gap: $gutter;
  & > * {
    flex: $grow $shrink auto;
    @if $col and $col > 1 {
      flex-basis: calc((100% / #{$col}) - (#{$gutter} * ($col - 1) / $col));
    } @else if $col == 1 {
      flex-basis: 100%;
    }
  }
}





// SQUARE
// ----------------------------------------
@mixin square($height: 100%) {
	&::before {
		display: block;
		width: 100%;
		padding-top: $height;
		visibility: hidden;
		content: '';
	}
}





// FAKE FLEX COL
// ----------------------------------------
@mixin fake-flex-col($height) {
	&::before{
		display: block;
		width: 0;
		min-width: 0;
		max-width: 0;
		padding-top: $height;
		opacity: 0;
		visibility: hidden;
		flex: 0 0 0;
		content: '';
	}
}





// FAKE FLEX COL
// ----------------------------------------
@mixin animation-underline($height-border: 1px) {
	background: linear-gradient(to right, currentColor, currentColor) no-repeat 100% 100%;
	background-size: 0 rem($height-border);
	&:not(:active) {
		transition: color .3s ease, background-size .3s ease !important;
	}
	@include hover {
		background-position: 0 100%;
		background-size: 100% rem($height-border);
	}
}
