// VARIABLES





// VARIABLES
// ----------------------------------------
// Sizes
$size-default:          16px;
$line-height-default:   1.2;

// Colors
$color1:            #fff;
$color2:            #000;
$color3:            var(--color-primary, #3ee98d);
$color3bis:         var(--color-primary-bis, #1dbe68);
$color4:            var(--color-secondary, #02bd9c);
$color4bis:         var(--color-secondary-bis, #149b82);
$color5:            var(--color-tertiary, #d6d6d6);
$color6:            #e0e0e0;
$color7:            #9b9b9b;
$color-error:       #ff1717;
$color-warning:     #ffce00;
$color-success:     #00bd9c;
$color-form:        var(--color-form, #edfbf8);
$color-background:  var(--color-background, $color1);
$color-default:     var(--color-default, #224f5a);

$nicklColorPrimary:     #224f5a;
$nicklColorPrimaryDark: #153038;
$nicklColorSecondary:   #3ee98c;
$nicklColorTertiary:    #d6d6d6;

$betaTextColor: #5c5c5c;
$betaNavLinkColor: #999999;

$alphaBackgroundColor: #fdf8f3;
$textColor: #252525;

// Fonts
$font1:         var(--font-general), arial, sans-serif;
$font2:         var(--font-title), arial, sans-serif;
$font-default:  $font1;

// Logo
$logoHeight: var(--logo-height);

// Letter spacing
$letter-spacing-default: -.04em;

// Header
$header-height:     120px;
$header-height-rwd: 6.07rem;

// Container
$container-width:       1430px;
$container-padding:     5vw;
$container-padding-rwd: 20px;

// Spacing
$module-spacing:                150px;
$module-spacing-small:          75px;
$form-row-spacing-top:          30px;
$form-row-spacing-top-reduce:   10px;

// Transitions
$transition-default: all .3s ease;


// Border radius
$border-radius-default: .75rem; // 12px
